@media (min-width: 200px) {
  .mod-bg {
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .mod-dialog {
    background-color: #fff;
    border-top: none;
    min-width: 400px;
    *padding-top: 27px;
    position: fixed;
    z-index: 1001;
    min-height: 190px;
    margin-top: -20px;
  }
  .mod-dialog a:hover {
    text-decoration: none;
  }
  .mod-pop {
    background: #fff;
    border: solid 1px #a1a1a1;
    -webkit-box-shadow: 0 0 5px #a1a1a1;
    -moz-box-shadow: 0 0 5px #a1a1a1;
    box-shadow: 0 0 5px #a1a1a1;
    font-size: 14px;
    height: 142px;
    position: absolute;
    width: 276px;
    z-index: 1000;
  }
  .clearfix_new:after {
    clear: both;
    content: '\20';
    display: block;
    height: 0;
  }
  .mod-dialog .dialog-nav {
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    height: 45px;
    *left: 0;
    background: #f5f5f5;
    line-height: 45px;
    *position: absolute;
    *top: -38px;
    *width: 100%;
  }
  .mod-dialog .dialog-title {
    color: #333;
    font-weight: none;
    font-size: 14px;
    padding-left: 10px;
  }
  .mod-dialog .dialog-close {
    height: 12px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 0px;
    width: 12px;
  }
  .mod-dialog .dialog-main {
    font-size: 14px;
    padding: 20px;
    text-align: center;
  }
  .dialog-main .dialog-content p {
    color: #7e7e7e;
  }
  .mod-dialog .dialog-content {
    font-size: 14px;
    line-height: 24px;
  }
  .mod-dialog .dialog-console {
    padding-top: 50px;
  }
  .mod-dialog .dialog-console .console-btn-confirm {
    background: #006CFF;
    width: 95px;
    height: 30px;
    color: #fff;
    border: 1px solid #3a92c0;
    text-align: center;
    font-size: 11px;
    margin-top: -6px;
    line-height: 30px;
    margin-left: 12px;
    display: inline-block;
    cursor: pointer;
  }
  .mod-dialog .dialog-console .console-btn-cancel {
    background: #999999;
    width: 95px;
    height: 30px;
    color: #fff;
    border: 1px solid #3a92c0;
    text-align: center;
    font-size: 11px;
    display: inline-block;
    margin-top: -6px;
    line-height: 30px;
    cursor: pointer;
  }
  .guowuche .c-tr {
    width: 100%;
    height: auto;
    background: #fff;
    padding-bottom: 80px;
  }
  .guowuche .c-tr .na-l {
    height: 120px;
  }
  .guowuche .c-tr .na-l .img2 {
    height: 99px;
    float: left;
    margin-left: 66px;
    margin-top: 20px;
  }
  .guowuche .c-tr .na-l .ss-k {
    width: 539px;
    height: 45px;
    float: left;
    margin-left: 64px;
    border: 1px solid #0086ef;
    margin-top: 33px;
  }
  .guowuche .c-tr .na-l .ss-k .sak {
    width: 80px;
    height: 120px;
    float: left;
    position: relative;
  }
  .guowuche .c-tr .na-l .ss-k span {
    text-align: center;
    display: block;
    float: left;
    width: 80px;
    height: 40px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #999999;
    padding-left: 15px;
    cursor: pointer;
  }
  .guowuche .c-tr .na-l .ss-k span l {
    line-height: 40px;
    float: left;
  }
  .guowuche .c-tr .na-l .ss-k span b {
    width: 0;
    height: 0;
    border: 5px solid #CFF;
    float: left;
    border-color: #999 transparent gray;
    border-bottom: none;
    display: inline-block;
    margin-top: 18px;
    transition: transform 0.3s;
    margin-left: 8px;
  }
  .guowuche .c-tr .na-l .ss-k span b.hover {
    border-color: #999 transparent gray;
    border-bottom: none;
    transform: rotate(180deg);
  }
  .guowuche .c-tr .na-l .ss-k .sskx {
    display: none;
    width: 88px;
    height: 100px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 40px;
  }
  .guowuche .c-tr .na-l .ss-k .sskx l {
    display: inline-block;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
  }
  .guowuche .c-tr .na-l .ss-k .sskx l:hover {
    cursor: pointer;
    background: #f5f5f5;
  }
  .guowuche .c-tr .na-l .ss-k .hove {
    background: #f5f5f5;
  }
  .guowuche .c-tr .na-l .ss-k input {
    float: left;
    width: 440px;
    margin-left: 5px;
    outline: none;
    height: 22px;
    text-indent: 3px;
    border: none;
    border-left: 2px solid #dddddd;
    margin-top: 10px;
  }
  .guowuche .c-tr .na-l .sc-an {
    width: 69px;
    height: 45px;
    float: left;
    background: #0278f1;
    margin-top: 33px;
  }
  .guowuche .c-tr .na-l .sc-an button {
    background: url(../images/ss-an.png) no-repeat center center;
    width: 34px;
    height: 34px;
    display: block;
    margin: 6px auto;
    outline: none;
    border: none;
  }
  .guowuche .c-tr .sp-lb {
    width: 100%;
    height: 35px;
    margin-top: 28px;
    line-height: 35px;
    color: black;
  }
  .guowuche .c-tr .sp-lb .sma {
    float: left;
  }
  .guowuche .c-tr .sp-lb .sma span {
    font-size: 18px;
    font-weight: bold;
    color: black;
  }
  .guowuche .c-tr .sp-lb .sma shu {
    font-size: 18px;
    font-weight: bold;
  }
  .guowuche .c-tr .sp-lb bnt {
    display: inline-block;
    float: right;
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #4486ff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background: #fff;
    margin-top: 3px;
  }
  .guowuche .c-tr .mw {
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    margin-top: 10px;
    line-height: 40px;
    color: #666666;
  }
  .guowuche .c-tr .mw .pagt {
    width: 100px;
    height: 40px;
    float: left;
    padding-left: 10px;
  }
  .guowuche .c-tr .mw .pagt input {
    outline: none;
    border: none;
    width: 12px;
    height: 12px;
    background: #fff;
    border: 1px solid #DEDEDE;
  }
  .guowuche .c-tr .mw .pagt span {
    font-size: 12px;
    margin-left: 10px;
  }
  .guowuche .c-tr .mw li {
    display: inline-block;
    margin-left: 170px;
  }
  .guowuche .c-tr .wup {
    width: 100%;
    height: auto;
    border: 1px solid #DEDEDE;
    margin-top: 10px;
    border-bottom: none;
  }
  .guowuche .c-tr .wup input[type=checkbox] {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: none;
    outline: none;
    background: #fff;
    float: left;
    margin-top: 12px;
    border: 1px solid #DEDEDE;
  }
  .guowuche .c-tr .wup .wupin input[type=checkbox] {
    margin-left: 30px;
  }
  .guowuche .c-tr .wup .losemp {
    width: 132px;
    margin-left: 46px;
    line-height: 34px;
    text-align: center;
    float: left;
  }
  .guowuche .c-tr .wup .dib {
    width: 100%;
    height: 50px;
    background: #f2f2f2;
    line-height: 50px;
    color: #666666;
    overflow: hidden;
    border-bottom: 1px solid #DEDEDE;
  }
  .guowuche .c-tr .wup .dib .pagt {
    width: 100px;
    height: 40px;
    float: left;
    padding-left: 10px;
  }
  .guowuche .c-tr .wup .dib .pagt span {
    font-size: 12px;
    margin-left: 10px;
  }
  .guowuche .c-tr .wup .dib samp {
    font-size: 12px;
    color: #666666;
    margin-left: 30px;
  }
  .guowuche .c-tr .wup .dib .r-bo {
    height: 40px;
    float: right;
    font-size: 12px;
  }
  .guowuche .c-tr .wup .dib .r-bo lp {
    letter-spacing: 1px;
    float: left;
  }
  .guowuche .c-tr .wup .dib .r-bo lp mk,
  .guowuche .c-tr .wup .dib .r-bo lp ja {
    color: #FF0000;
  }
  .guowuche .c-tr .wup .dib .r-bo lp ja {
    font-size: 18px;
  }
  .guowuche .c-tr .wup .dib .r-bo .oder {
    display: inline-block;
    width: 96px;
    height: 32px;
    text-align: center;
    line-height: 32PX;
    float: right;
    border-radius: 4px;
    background: #006CFF;
    color: #fff;
    margin: 3px 3px 3px 20px;
    cursor: pointer;
  }
  .guowuche .c-tr .wup .foot_ch {
    bottom: 0px;
    position: fixed;
    width: 1195px !important;
    overflow: hidden;
  }
  .guowuche .c-tr .wup #foot_layout {
    width: 100%;
    height: 50px;
    margin-top: 10px;
  }
  .guowuche .c-tr .wup .wp-box {
    width: 100%;
    height: auto;
  }
  .guowuche .c-tr .wup .wp-box had {
    display: block;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #DEDEDE;
    line-height: 40px;
    padding-left: 10px;
  }
  .guowuche .c-tr .wup .wp-box had span {
    margin-left: 10px;
    font-size: 12px;
    color: black;
  }
  .guowuche .c-tr .wup .wp-box .wupin {
    display: block;
    width: 100%;
    height: 160px;
    padding-left: 10px;
    border-bottom: 1px solid #DEDEDE;
  }
  .guowuche .c-tr .wup .wp-box .wupin .lose {
    width: 40px;
    height: 20px;
    line-height: 20px;
    background: #999;
    border-radius: 8px;
    float: left;
    margin-top: 10px;
    text-align: center;
  }
  .guowuche .c-tr .wup .wp-box .wupin .price_total {
    float: left;
    margin-left: 80px;
    line-height: 30px;
  }
  .guowuche .c-tr .wup .wp-box .wupin .img {
    float: left;
    width: 130px;
    height: 130px;
    border: 1px solid #DEDEDE;
    margin: 10px;
  }
  .guowuche .c-tr .wup .wp-box .wupin .img img {
    display: block;
    width: 127px;
    height: 127px;
    cursor: pointer;
  }
  .guowuche .c-tr .wup .wp-box .wupin .wenzi {
    width: 180px;
    height: auto;
    float: left;
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    margin-left: 30px;
    color: #666666;
  }
  .guowuche .c-tr .wup .wp-box .wupin .wenzi a {
    color: #666666;
  }
  .guowuche .c-tr .wup .wp-box .wupin .wenzi a:hover {
    color: #006CFF;
  }
  .guowuche .c-tr .wup .wp-box .wupin .wenzi:hover {
    color: #0000FF;
  }
  .guowuche .c-tr .wup .wp-box .wupin .zllnum {
    display: inline-block;
    margin-left: 100px;
    float: left;
    margin-top: 10px;
  }
  .guowuche .c-tr .wup .wp-box .wupin .sop {
    text-decoration: line-through;
    color: #999999;
  }
  .guowuche .c-tr .wup .wp-box .wupin .nonx {
    text-decoration: none;
    color: #000000;
  }
  .guowuche .c-tr .wup .wp-box .wupin .mp-a {
    width: 132px;
    background: #f2f2f2;
    float: left;
    line-height: 30px;
    display: inline-block;
    margin-left: 46px;
    margin-top: 10px;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
  }
  .guowuche .c-tr .wup .wp-box .wupin .mp-a .reduce {
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 32px;
    float: left;
    cursor: pointer;
    line-height: 30px;
    font-size: 30px;
  }
  .guowuche .c-tr .wup .wp-box .wupin .mp-a shul {
    width: 60px;
    background: #fff;
    text-align: center;
    font-size: 16px;
    float: left;
    display: inline-block;
  }
  .guowuche .c-tr .wup .wp-box .wupin .mp-a shul input {
    width: 60px;
    border: none;
    outline: none;
    height: 32px;
    text-align: center;
    line-height: 32px;
  }
  .guowuche .c-tr .wup .wp-box .wupin .mp-a .plus {
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 32px;
    float: left;
    line-height: 30px;
    font-size: 25px;
    cursor: pointer;
  }
  .guowuche .c-tr .wup .wp-box .wupin .cz {
    float: right;
    margin-top: 10px;
    margin-right: 40px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
  }
  .guowuche .c-tr .wup .wp-box .wupin .cz sp {
    display: block;
    color: #ff0000;
    cursor: pointer;
  }
  .guowuche .c-tr .wup .wp-box .wupin .cz sc {
    display: block;
    color: #006CFF;
    cursor: pointer;
  }
  .guowuche .c-tr .wup .wp-box .losebj {
    background: #F5F5F5;
  }
  .guowuche .c-tr .wup .wp-box .wupin:hover {
    background: #f1f6fb;
  }
  .mj-t {
    width: 100%;
    height: 400px;
    padding-top: 50px;
  }
  .mj-t .mj-cent {
    width: 600px;
    height: 300px;
    margin: auto;
  }
  .mj-t .mj-img {
    width: 300px;
    height: 300px;
    float: left;
  }
  .mj-t .mj-img img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .mj-t .mg-kl {
    width: 200px;
    float: left;
    margin-top: 40px;
  }
  .mj-t .mg-kl h3 {
    color: #FF0000;
  }
  .mj-t .mg-kl p {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=gouwuche.css.map */
