.xc .banner {
  height: 551px;
  width: 1582px;
  position: relative;
  background: url("../images/xc-banner.png") no-repeat center;
  background-size: 100% 100%;
}
.xc .banner .main {
  width: 1080px;
  height: 100%;
  position: absolute;
  margin-left: -540px;
  left: 50%;
}
.xc .banner .main .logo {
  width: 104px;
  position: absolute;
  top: 25px;
  right: 25px;
}
.xc .banner .main .logo img {
  width: 100%;
  display: block;
}
.xc .banner .txt1 {
  position: absolute;
  top: 266px;
  width: 46%;
  height: 90px;
  background-color: rgba(0, 84, 189, 0.7);
  left: 0;
  color: #fff;
  font-size: 42px;
  text-align: right;
  padding-right: 74px;
  line-height: 90px;
}
.xc .banner .txt2 {
  position: absolute;
  top: 362px;
  width: 60%;
  height: 90px;
  background-color: rgba(0, 84, 189, 0.7);
  left: 0;
  color: #fff;
  line-height: 90px;
  font-size: 42px;
  text-align: right;
  padding-right: 74px;
}
.xc .middle {
  background-color: #f7f7f7;
  width: 1582px;
}
.xc .middle .intro {
  width: 1080px;
  margin: 0 auto;
  height: 550px;
}
.xc .middle .intro .left {
  width: 550px;
  float: left;
  margin-top: 68px;
  font-family: "黑体";
}
.xc .middle .intro .left h1 {
  font-size: 50px;
  color: #000;
  font-family: "宋体";
}
.xc .middle .intro .left .txt3 {
  font-size: 16px;
}
.xc .middle .intro .left .txt3 p {
  text-indent: 2em;
}
.xc .middle .intro .right {
  width: 470px;
  float: left;
  margin-left: 48px;
  margin-top: 56px;
  height: 440px;
  background-color: #fff;
  box-shadow: 0 0 5px #cccccc;
}
.xc .middle .intro .right img {
  display: block;
  margin: 16px auto;
}
.xc .lbt {
  height: 420px;
  width: 1582px;
  margin-bottom: 140px;
}
.xc .lbt .blue {
  background-color: #0054bd;
  height: 250px;
  overflow: hidden;
  font-family: "宋体";
}
.xc .lbt .blue .txt5 {
  width: 1080px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 24px;
}
.xc .lbt .blue .txt5 span {
  display: block;
}
.xc .lbt .blue .txt5 span:first-child {
  margin-top: 42px;
  padding-left: 35%;
}
.xc .lbt .blue .txt5 span:last-child {
  padding-left: 45%;
}
.xc .lbt .blue .txt6 {
  width: 1080px;
  margin: 65px auto 0;
  text-align: center;
  font-size: 42px;
  color: #ffffff;
}
.xc .lbt .img-box {
  width: 1080px;
  margin: 0 auto;
  height: 170px;
}
.xc .lbt .img-box ul {
  padding: 0;
  margin: 0;
}
.xc .lbt .img-box ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  position: relative;
  margin-left: 2px;
  perspective-origin: center center;
  perspective: 300;
  overflow: hidden;
  width: 214px;
  height: 170px;
  cursor: pointer;
}
.xc .lbt .img-box ul li:hover p {
  transition: all 1s;
  height: 170px;
  width: 214px;
  position: absolute;
  margin: 0;
  color: #fff;
  font-size: 14px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  text-align: left;
  padding: 60px 30px;
}
.xc .lbt .img-box ul li:hover span {
  display: none;
}
.xc .lbt .img-box ul li span {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 214px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #fff;
}
.xc .lbt .img-box ul li p {
  height: 0;
  width: 214px;
}
.xc .lbt .img-box ul li img {
  display: block;
  width: 214px;
  height: 170px;
}
.xc .feature {
  height: 590px;
  text-align: center;
  width: 1582px;
}
.xc .feature .main {
  width: 1080px;
  margin: 0 auto;
  position: relative;
}
.xc .feature .main h4 {
  text-align: center;
  font-size: 42px;
  font-family: "宋体";
  font-weight: 900;
  margin-bottom: 70px;
}
.xc .feature .main ul {
  padding: 0;
  margin: 0;
}
.xc .feature .main ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 16px;
  box-shadow: 0 0 5px #ccc;
}
.xc .feature .main ul li .big {
  position: absolute;
  height: 580px;
  width: 320px;
  display: none;
  top: 0;
  left: 0;
  box-shadow: 0 0 5px #ccc;
}
.xc .feature .main ul li .big img {
  width: 320px;
  height: 430px;
}
.xc .feature .main ul li .big p {
  width: 320px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  color: #333333;
  font-size: 43px;
  background-color: #ffffff;
}
.xc .feature .main ul li p {
  height: 96px;
  line-height: 96px;
  text-align: center;
  color: #333333;
  font-size: 30px;
}
.xc .feature .main ul li img {
  display: block;
  width: 250px;
  height: 294px;
}
.xc .footer {
  background-color: #0054BD;
  width: 1582px;
  height: 260px;
  background-image: url("../images/xc-bg-line.png");
  background-repeat: repeat-x;
  color: #ffffff;
}
.xc .footer a {
  color: #ffffff;
}
.xc .footer .foot-box {
  margin: 0 auto;
  height: 260px;
  width: 1080px;
  font-family: "黑体";
}
.xc .footer .foot-box .f-left {
  float: left;
  margin-top: 40px;
}
.xc .footer .foot-box .f-left h3 {
  font-size: 30px;
  font-family: "宋体";
  margin-bottom: 30px;
}
.xc .footer .foot-box .f-left p {
  font-size: 14px;
}
.xc .footer .foot-box .f-middle {
  float: left;
  margin-left: 210px;
  margin-top: 50px;
  width: 143px;
}
.xc .footer .foot-box .f-middle h3 {
  font-size: 18px;
  font-family: "黑体";
  margin-bottom: 30px;
}
.xc .footer .foot-box .f-middle .f-midd-l {
  float: left;
  font-size: 14px;
}
.xc .footer .foot-box .f-middle .f-midd-l span {
  display: block;
  margin-bottom: 5px;
}
.xc .footer .foot-box .f-middle .f-midd-r {
  float: right;
  font-size: 14px;
}
.xc .footer .foot-box .f-middle .f-midd-r span {
  display: block;
  margin-bottom: 5px;
}
.xc .footer .foot-box .f-right {
  float: left;
  margin-left: 185px;
  margin-top: 50px;
}
.xc .footer .foot-box .f-right h3 {
  font-size: 18px;
  font-family: "黑体";
  margin-bottom: 30px;
}
.xc .footer .foot-box .f-right p {
  font-size: 14px;
}
.xc .footer .foot-box .f-right p i {
  display: block;
  float: left;
  margin-left: 15px;
}
.xc .footer .foot-box .f-right p i img {
  display: block;
}
.xc .footer .foot-box .f-right p i:first-child {
  margin-left: 0;
}
.xc .slideBar {
  height: 152px;
  position: fixed;
  top: 200px;
  right: 50%;
  margin-right: -620px;
}
.xc .slideBar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.xc .slideBar ul li {
  width: 44px;
  cursor: pointer;
  height: 44px;
  background-color: #0054BD;
  border-radius: 22px;
  margin-top: 10px;
  text-align: center;
  line-height: 44px;
}
.xc .slideBar ul li:nth-child(3) {
  display: none;
}
@media (min-width: 1200px) {
  .xc .banner {
    width: 100%;
  }
  .xc .middle {
    width: 100%;
  }
  .xc .lbt {
    width: 100%;
  }
  .xc .feature {
    width: 100%;
  }
  .xc .footer {
    width: 100%;
  }
}
/*# sourceMappingURL=publicity.css.map */
