<div id="ymc">
    <div class="tit_box01">
        <h2 class="tit">投诉管理</h2>
    </div>
    <div class="tab_nav2 clear fanxiu">
        <div class="list ac"><a href="javascript:;">交易订单投诉</a></div>
        <div class="list"><a href="javascript:;" ui-sref="buyt.cgs01-tousuguanli2">已投诉记录</a></div>
    </div>
    <div class="content">
        <div class="t_warp th_con" style="width: auto">
            <div class="row tit_box">
                <div class="col-xs-4">商品信息</div>
                <div class="col-xs-2">数量</div>
                <div class="col-xs-2">收货人</div>
                <div class="col-xs-2">订单金额（元）</div>
                <div class="col-xs-2">操作</div>
            </div>
            <div class="item_warp">
                <div class="con_inner fanxiu3" ng-repeat="item in data.order.orderList">
                    <div class="txt_box">
                        <span class="s1">订单号：{{item.orderCode}}</span>
                        <span class="s1">下单时间： -</span>
                        <span class="s1">供应商：-</span>
                        <span class="s1">联系人： -</span>
                        <span class="s1">电话： -</span>
                    </div>

                    <div class="row item_box">
                        <div class="col-xs-4 col_box">
                            <div class="mes_box">
                                <img src="{{item.productList[0].imageUrl}}" alt="" class="pic2">
                                <span class="txt1" style="width: 235px;text-align: left;">{{item.productList[0].productName}}</span>
                            </div>
                        </div>
                        <div class="col-xs-2 col_box">
                            <p class="pp1">{{item.productList[0].purQty}}</p>
                        </div>
                        <div class="col-xs-2 col_box">
                            <p class="pp1">-</p>
                        </div>
                        <div class="col-xs-2 col_box">
                            <p class="pp1">{{item.productList[0].sumTotal}}</p>
                        </div>

                        <div class="col-xs-2 col_box">
                            <a href="javascript:;" class="btn1" data-productId="{{item.productList[0].productId}}" data-skuId="{{item.productList[0].skuId}}" data-orderId="{{item.orderId}}" ng-click="getTsOrderId($event)" ui-sref="buyt.cgs01-tousuguanli3">投诉</a>
                        </div>

                    </div>

                </div>


            </div>

        </div>

        <div class="c_btm clear" style="padding:0 22px 20px;">
            <!--<p class="page_hint">显示第一页，共36条记录</p>-->
            <!--<div class="page_box">-->
                <!--<a href="javascript:;" class="item">上一页</a>-->
                <!--<a href="javascript:;" class="item ac">1</a>-->
                <!--<a href="javascript:;" class="item">2</a>-->
                <!--<span class="s1">...</span>-->
                <!--<a href="javascript:;" class="item">6</a>-->
                <!--<input type="text" class="page_txt" />-->
                <!--<a href="javascript:;" class="item">下一页</a>-->

            <!--</div>-->
            <div class="box">
                <div id="pagination2" class="page fl"></div>
                <div class="info fl">
                </div>
            </div>
            <p class="page_hint">一共{{data.order.orderCount}}条信息，共<span class="page_gong"></span>页</p>


        </div>


    </div>


</div>










