<div ng-controller="cgs01-shangpuxiangqing">
<div id="ymc-xq" >
    <div class="header2 clear">
        <a href="javascript:;" class="logo"><img src="images/logo2_03.jpg" /></a>
        <form class="search_box">
            <select>
                <option>商品</option>
                <option>店铺</option>
            </select>
            <input type="text" placeholder="搜索您想要的商品或者店铺" class="txt" />
            <button type="button" class="btn">搜索</button>
        </form>
        <a href="javascript:;" class="fbcp_btn">快速发布产品</a>
    </div>

</div>

<div class="nav2_warp">
    <ul class="nav2 clear">
        <li class="list ac"><a href="javascript:;">全部商品分类</a></li>
        <li class="list"><a href="javascript:;">交易平台</a></li>
        <li class="list"><a href="javascript:;">项目合作</a></li>
        <li class="list"><a href="javascript:;">金融投资</a></li>
        <li class="list"><a href="javascript:;">租赁平台</a></li>
        <li class="list"><a href="javascript:;">货运通</a></li>
        <li class="list"><a href="javascript:;">积分</a></li>
        <li class="list"><a href="javascript:;">知识库</a></li>
    </ul>
    
</div>
<div class="con_spxq">
    <div class="banner"></div>
    <div class="main clear">
        <div class="m_left">
            <div class="floor">
                <h2 class="tit_f">店铺信息</h2>
                <img src="images/spxq_pic1_06.jpg" alt="" class="logo_pic">
                <div class="con_box1">
                    <div class="mes">
                        <div class="txt_box1 clear">
                            <p class="tit">店铺名称：</p>
                            <p class="txt">
                                {{data.shop.shopName}}
                            </p>
                        </div>
                        <div class="txt_box2">
                            <p class="tit">联系人：</p>
                            <p class="txt">
                                {{data.shop.name}}
                            </p>
                        </div>
                        <div class="txt_box2">
                            <p class="tit">服务电话：</p>
                            <p class="txt">
                                {{data.shop.mobilePhone}}
                            </p>
                        </div>
                        <div class="txt_box2 clear">
                            <p class="tit">所在地区：</p>
                            <p class="txt txt2">
                                {{data.shop.province}}
                                {{data.shop.city}}
                                {{data.shop.county}}
                                {{data.shop.address}}
                            </p>
                        </div>
                        <div class="btn_box clear">
                            <a href="javascript:;" class="btn1"><img src="images/spxq_pic1_10.jpg"></a>
                            <a href="javascript:;" class="btn2"><img src="images/spxq_pic1_12.jpg"></a>

                        </div>
                    </div>
                </div>

            </div>

            <div class="floor">
                <h2 class="tit_f">商品分类</h2>
                <div class="con_box2">
                    <h3 class="tit ac">螺旋管</h3>
                    <ul class="list_box">
                        <li class="list"><a href="javascript:;">80*60*20</a></li>
                        <li class="list"><a href="javascript:;">80*60*20</a></li>
                        <li class="list"><a href="javascript:;">80*60*20</a></li>
                    </ul>
                    <h3 class="tit">螺旋管</h3>
                    <ul class="list_box">
                        <li class="list"><a href="javascript:;">80*60*20</a></li>
                        <li class="list"><a href="javascript:;">80*60*20</a></li>
                        <li class="list"><a href="javascript:;">80*60*20</a></li>
                    </ul>
                    <h3 class="tit">螺旋管</h3>
                    <ul class="list_box">
                        <li class="list"><a href="javascript:;">80*60*20</a></li>
                        <li class="list"><a href="javascript:;">80*60*20</a></li>
                        <li class="list"><a href="javascript:;">80*60*20</a></li>
                    </ul>

                </div>
            </div>
            <div class="floor">
                <h2 class="tit_f">商品推举</h2>
                <div class="con_box3 clear">
                    <div class="item">
                        <a href="javascript:;">
                            <img src="images/spxq_pic1_20.jpg" class="pic" />
                            <div class="txt_box">
                                <p class="p1">
                                    ¥600/根
                                </p>
                                <p class="p2">
                                    长治钢材厂钢管
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="images/spxq_pic1_20.jpg" class="pic" />
                            <div class="txt_box">
                                <p class="p1">
                                    ¥600/根
                                </p>
                                <p class="p2">
                                    长治钢材厂钢管
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="images/spxq_pic1_20.jpg" class="pic" />
                            <div class="txt_box">
                                <p class="p1">
                                    ¥600/根
                                </p>
                                <p class="p2">
                                    长治钢材厂钢管
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="images/spxq_pic1_20.jpg" class="pic" />
                            <div class="txt_box">
                                <p class="p1">
                                    ¥600/根
                                </p>
                                <p class="p2">
                                    长治钢材厂钢管
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="images/spxq_pic1_20.jpg" class="pic" />
                            <div class="txt_box">
                                <p class="p1">
                                    ¥600/根
                                </p>
                                <p class="p2">
                                    长治钢材厂钢管
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;">
                            <img src="images/spxq_pic1_20.jpg" class="pic" />
                            <div class="txt_box">
                                <p class="p1">
                                    ¥600/根
                                </p>
                                <p class="p2">
                                    长治钢材厂钢管
                                </p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

        </div>
        <div class="m_right">
            <div class="floor">
                <div class="tit_box clear">
                    <h3 class="tit">钢管</h3>
                    <a href="javascript:;" class="more">更多》</a>
                </div>
                <ul class="list_box clear">
                    <li class="list" ng-repeat="item in data.shop.productList">
                        <img ng-src="{{item.imageUrl}}" alt="" class="pic" />
                        <div class="con_warp">
                            <p class="money">
                                ¥{{item.salePrice}}/根
                            </p>
                            <p class="txt">
                                -
                            </p>
                            <div class="mes">
                                <p class="s1">{{item.saleCount}}人付款</p>
                                <p class="s2">{{item.evalCount}}人评价</p>
                            </div>
                            <a href="javascript:;" class="buy_btn">
                                <img src="images/add_gwcbtn_03.jpg" alt="">
                            </a>

                        </div>
                    </li>

                </ul>

            </div>

            <!--<div class="floor">-->
                <!--<div class="tit_box clear">-->
                    <!--<h3 class="tit">钢管</h3>-->
                    <!--<a href="javascript:;" class="more">更多》</a>-->
                <!--</div>-->
                <!--<ul class="list_box clear">-->
                    <!--<li class="list">-->
                        <!--<img src="images/spxq_pic1_17.jpg" alt="" class="pic" />-->
                        <!--<div class="con_warp">-->
                            <!--<p class="money">-->
                                <!--¥2200.00/根-->
                            <!--</p>-->
                            <!--<p class="txt">-->
                                <!--钢管质量百分百好货，假一赔十-->
                            <!--</p>-->
                            <!--<div class="mes">-->
                                <!--<p class="s1">300人付款</p>-->
                                <!--<p class="s2">200人评价</p>-->
                            <!--</div>-->
                            <!--<a href="javascript:;" class="buy_btn">-->
                                <!--<img src="images/add_gwcbtn_03.jpg" alt="">-->
                            <!--</a>-->

                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="list">-->
                        <!--<img src="images/spxq_pic1_17.jpg" alt="" class="pic" />-->
                        <!--<div class="con_warp">-->
                            <!--<p class="money">-->
                                <!--¥2200.00/根-->
                            <!--</p>-->
                            <!--<p class="txt">-->
                                <!--钢管质量百分百好货，假一赔十-->
                            <!--</p>-->
                            <!--<div class="mes">-->
                                <!--<p class="s1">300人付款</p>-->
                                <!--<p class="s2">200人评价</p>-->
                            <!--</div>-->
                            <!--<a href="javascript:;" class="buy_btn">-->
                                <!--<img src="images/add_gwcbtn_03.jpg" alt="">-->
                            <!--</a>-->

                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="list">-->
                        <!--<img src="images/spxq_pic1_17.jpg" alt="" class="pic" />-->
                        <!--<div class="con_warp">-->
                            <!--<p class="money">-->
                                <!--¥2200.00/根-->
                            <!--</p>-->
                            <!--<p class="txt">-->
                                <!--钢管质量百分百好货，假一赔十-->
                            <!--</p>-->
                            <!--<div class="mes">-->
                                <!--<p class="s1">300人付款</p>-->
                                <!--<p class="s2">200人评价</p>-->
                            <!--</div>-->
                            <!--<a href="javascript:;" class="buy_btn">-->
                                <!--<img src="images/add_gwcbtn_03.jpg" alt="">-->
                            <!--</a>-->

                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="list">-->
                        <!--<img src="images/spxq_pic1_17.jpg" alt="" class="pic" />-->
                        <!--<div class="con_warp">-->
                            <!--<p class="money">-->
                                <!--¥2200.00/根-->
                            <!--</p>-->
                            <!--<p class="txt">-->
                                <!--钢管质量百分百好货，假一赔十-->
                            <!--</p>-->
                            <!--<div class="mes">-->
                                <!--<p class="s1">300人付款</p>-->
                                <!--<p class="s2">200人评价</p>-->
                            <!--</div>-->
                            <!--<a href="javascript:;" class="buy_btn">-->
                                <!--<img src="images/add_gwcbtn_03.jpg" alt="">-->
                            <!--</a>-->

                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="list">-->
                        <!--<img src="images/spxq_pic1_17.jpg" alt="" class="pic" />-->
                        <!--<div class="con_warp">-->
                            <!--<p class="money">-->
                                <!--¥2200.00/根-->
                            <!--</p>-->
                            <!--<p class="txt">-->
                                <!--钢管质量百分百好货，假一赔十-->
                            <!--</p>-->
                            <!--<div class="mes">-->
                                <!--<p class="s1">300人付款</p>-->
                                <!--<p class="s2">200人评价</p>-->
                            <!--</div>-->
                            <!--<a href="javascript:;" class="buy_btn">-->
                                <!--<img src="images/add_gwcbtn_03.jpg" alt="">-->
                            <!--</a>-->

                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="list">-->
                        <!--<img src="images/spxq_pic1_17.jpg" alt="" class="pic" />-->
                        <!--<div class="con_warp">-->
                            <!--<p class="money">-->
                                <!--¥2200.00/根-->
                            <!--</p>-->
                            <!--<p class="txt">-->
                                <!--钢管质量百分百好货，假一赔十-->
                            <!--</p>-->
                            <!--<div class="mes">-->
                                <!--<p class="s1">300人付款</p>-->
                                <!--<p class="s2">200人评价</p>-->
                            <!--</div>-->
                            <!--<a href="javascript:;" class="buy_btn">-->
                                <!--<img src="images/add_gwcbtn_03.jpg" alt="">-->
                            <!--</a>-->

                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->

            <!--</div>-->


        </div>


    </div>

</div>


</div>

<script>
    $('.dak>.ng-scope').css('background-color','#fff');
    $('.m_left .con_box2 .tit.ac').next('.list_box').show();
    $('.m_left .con_box2 .tit').on('click',function(){
        $(this).addClass('ac').siblings('.tit').removeClass('ac');
        $(this).next('.list_box').show().siblings('.list_box').hide();
    })
</script>


