<div id="ymc">
    <div class="tit_box01">
        <h2 class="tit">返修/退换货记录>>退款明细</h2>
    </div>

    <div class="content">
        <div class="m_top fx_box1">
            <input type="text" class="wb_2" placeholder="订单编号" />

            <button type="button" class="search_btn">搜索</button>
        </div>
        <div class="t_warp th_con" style="width: auto">
            <div class="row tit_box">
                <div class="col-xs-2">服务单信息</div>
                <div class="col-xs-3">退款明细</div>
                <div class="col-xs-3">差额原因</div>
                <div class="col-xs-2">退款信息</div>
                <div class="col-xs-2">操作</div>
            </div>
            <div class="item_warp">
                <div class="con_inner fanxiu3">
                    <div class="row item_box">
                        <div class="col-xs-2 col_box">
                            <p class="pp1">229667406</p>
                        </div>
                        <div class="col-xs-3 col_box">
                            <p class="pp3">退款金额：¥10032.00 <br/>退回至原支付卡： ¥10032.00</p>
                        </div>
                        <div class="col-xs-3 col_box">
                            <p class="pp1">无</p>
                        </div>
                        <div class="col-xs-2 col_box">
                            <p class="pp1">退款完成</p>
                        </div>

                        <div class="col-xs-2 col_box">
                            <a href="javascript:;" class="btn2 btn1" ui-sref="buyt.cgs01-fanxiu05-chakan">查看</a>
                        </div>

                    </div>

                </div>


            </div>

        </div>



    </div>


</div>










