<div id="ymc">
    <div class="tit_box01">
        <h2 class="tit">收发货地址管理</h2>
    </div>
    <div class="tab_nav2 clear">
        <div class="list ac"><a href="javascript:;">发货地址</a></div>
        <div class="list"><a href="javascript:;">收货地址</a></div>
    </div>

    <div class="content">
        <h2 class="tit_1">已保存地址 <span class="s1">最多保存有效地址</span></h2>
        <div class="t_warp">
            <div class="row tit_box">
                <div class="col-xs-1">联系人</div>
                <div class="col-xs-2">所在地区</div>
                <div class="col-xs-3">街道地址</div>
                <div class="col-xs-2">邮编</div>
                <div class="col-xs-2">电话/手机</div>
                <div class="col-xs-2">操作</div>
            </div>
            <div class="item_warp fenlei_box">
                <div class="con_inner">
                    <div class="row item_box">
                        <div class="col-xs-1 col_box">
                            <p>王云</p>
                        </div>
                        <div class="col-xs-2 col_box">
                            <p>北京</p>
                        </div>

                        <div class="col-xs-3 col_box">
                            <p>北京朝阳区国贸大厦B柜2201</p>
                        </div>

                        <div class="col-xs-2 col_box">
                            <p>100000</p>
                        </div>
                        <div class="col-xs-2 col_box">
                            <p>188123456789</p>
                        </div>
                        <div class="col-xs-2 col_box">
                            <a href="javascript:;" class="btn_1">常用地址</a>
                            <a href="javascript:;" class="btn_1">修改</a>
                            <a href="javascript:;" class="btn_1">删除</a>
                        </div>
                    </div>


                </div>

            </div>


        </div>

        <div class="btm_con">
            <h2 class="tit_1">添加发货地址</h2>
            <div class="row item">
                <div class="col-xs-2 tit2 zy">联系人姓名:</div>
                <div class="col-xs-10">
                    <input type="text" class="wb_1" />
                </div>
            </div>
            <div class="row item">
                <div class="col-xs-2 tit2 zy">所在地区：</div>
                <div class="col-xs-10">
                    <select class="wb_1" style="width: 120px;">
                        <option>中国</option>
                    </select>
                    <select class="wb_1" style="width: 120px;">
                        <option>北京市</option>
                    </select>
                    <select class="wb_1" style="width: 120px;">
                        <option>北京市</option>
                    </select>
                    <select class="wb_1" style="width: 120px;">
                        <option>海淀区</option>
                    </select>
                </div>
            </div>
            <div class="row item">
                <div class="col-xs-2 tit2 zy">街道地址：</div>
                <div class="col-xs-10">
                    <textarea class="wbk_1"></textarea>
                </div>

            </div>
            <div class="row item">
                <div class="col-xs-2 tit2">邮编号码:</div>
                <div class="col-xs-10">
                    <input type="text" class="wb_1" />
                </div>
            </div>
            <div class="row item">
                <div class="col-xs-2 tit2">电话号码:</div>
                <div class="col-xs-10">
                    <input type="text" class="wb_1" style="width: 120px;" /> -
                    <input type="text" class="wb_1" style="width: 240px;" />
                </div>
            </div>
            <div class="row item">
                <div class="col-xs-2 tit2">手机号码:</div>
                <div class="col-xs-10">
                    <input type="text" class="wb_1" />
                </div>
            </div>
            <div class="row item">
                <label class="col-xs-2 col-xs-offset-2" style="font-size:12px;font-weight: normal;"><input type="checkbox" style="vertical-align: -2px;" /> 设置为常用地址</label>
            </div>
            <button type="button" class="save_btn2">保存</button>


        </div>



    </div>


</div>










