<div id="ymc-xq" ng-controller="mjds01-yimaichu-ddxq">
    <div class="header2 clear">
        <a href="javascript:;" class="logo"><img src="images/logo2_03.jpg" /></a>
        <!--<form class="search_box">
            <select>
                <option>商品</option>
                <option>店铺</option>
            </select>
            <input type="text" placeholder="搜索您想要的商品或者店铺" class="txt" />
            <button type="button" class="btn">搜索</button>
        </form>-->

    </div>
    <div class="mbx_nav">
        <span class="s1">您的位置：</span>
        <a href="javascript:;" class="a1">我的同鑫 ></a>
        <a href="javascript:;" class="a1">交易管理 ></a>
        <a href="javascript:;" class="a1">已卖出的商品 ></a>
        <a href="javascript:;" class="a2">确认发货 </a>
        <a href="javascript:;" class="a2">订单号：{{data.order.orderCode}}</a>
    </div>
    <div class="jd_box">
        <div class="warp_1">
            <ul class="yd_box">
                <li class="item ac">
                    <div class="mes">
                        <p class="p1">买家下单</p>
                      <!--  <p class="p2">2017-7-1 09:30</p>-->
                    </div>
                    <div class="jdt"></div>

                </li>
                <li class="item ac">
                    <div class="mes">
                        <p class="p1">买家付款</p>
                       <!-- <p class="p2">2017-7-1 09:30</p>-->
                       

                    </div>
                     <div class="jdt"></div>
                </li>
                <li class="item">
                    <div class="mes">
                        <p class="p1">卖家发货</p>
                       <!-- <p class="p2">2017-7-1 09:30</p>-->
                        <div class="jdt"></div>

                    </div>
                </li>
                <li class="item">
                    <div class="mes">
                        <p class="p1">买家确认收货</p>
                        <!--<p class="p2">2017-7-1 09:30</p>
                        <div class="jdt"></div>-->
                    </div>
                </li>
                <li class="item">
                    <div class="mes">
                        <p class="p1">商品评价</p>
                        <!--<p class="p2">2017-7-1 09:30</p>-->
                        <div class="jdt"></div>
                    </div>
                </li>
                <li class="item">
                    <div class="mes">
                        <p class="p1">完成</p>
                   <!--     <p class="p2">2017-7-1 09:30</p>-->
                        <div class="jdt"></div>
                    </div>
                </li>
            </ul>


        </div>

    </div>
    <script>
        setTimeout(function(){
            $('.yd_box .item.ac:last .jdt').hide();
            $('.yd_box .item.ac:last .p1').css('color','#73b043');
        },50)
    </script>
    <div class="content">
        <div class="floor_1">
            <h3 class="tit_1">买家信息</h3>
            <div class="con_box">
                <span class="s1">企业名称:{{data.order.companyName}}</span>
                <span class="s1">联系人:{{data.order.consignee}}</span>
                <span class="s1">手机:{{data.order.consigneeMoblie}}</span>
                <span class="s1 ads_txt">
                    {{data.order.province}}
                    {{data.order.city}}
                    {{data.order.county}}
                    {{data.order.consigneeAddress}}
                </span>
            </div>

        </div>
       
        <script>
            $('.dh_txt').on('keyup',function(){
                if($(this).val()!=''){
                    $('.floor_2 .send').addClass('ac');
                    $('.floor_2 .send').attr('disabled',false);
                    console.log($(this).val())
                }else{
                    $('.floor_2 .send').removeClass('ac');
                    console.log($(this).val())
                    $('.floor_2 .send').attr('disabled','disabled');
                }
            })
        </script>

        <div class="t_warp">
            <div class="row tit_box">
                <div class="col-xs-2">商品信息</div>
                <div class="col-xs-2">单价(元)</div>
                <div class="col-xs-2">数量</div>
                <div class="col-xs-2">商品金额(元)</div>
                <div class="col-xs-2">实际付款</div>
                <div class="col-xs-2">订单状态</div>
            </div>
            <div class="item_warp">
                <div class="con_inner">
                    <div class="row item_box" ng-repeat="item in data.order.productList">
                        <div class="col-xs-2 col_box sp_box">
                            <img ng-src="{{item.imageUrl}}" alt="" class="pic"/>
                            <p class="txt">{{item.productName}}</p>
                        </div>
                        <div class="col-xs-2 col_box"><p class="p1">¥{{item.price}}</p></div>
                        <div class="col-xs-2 col_box"><p class="p1">{{item.count}}</p></div>
                        <div class="col-xs-2 col_box"><p class="p1">¥{{item.amount}}</p></div>
                        <div class="col-xs-2 col_box">
                            <p class="p2">¥{{data.order.payAmount}}</p>
                            <p class="p3">（含运费¥{{data.order.freight}}）</p>
                        </div>
                        <div class="col-xs-2 col_box">
                            <p class="p4">等待买家付款</p>
                            <p class="p3"><a href="javascript:;" ui-sref="index.sesh({id:item.orderId})">订单详情</a></p>

                        </div>
                    </div>


                </div>


            </div>


        </div>
 <div class="floor_2">
            <h3 class="tit_1">添加物流</h3>
            <div class="con_box">
                <div>
                    <!--<select class="wb_1">
                        <option ng-repeat="item in data.order.logisCompanies" value="{{item.code}}">{{item.name}}</option>
                    </select>-->
                    <textarea placeholder="请输入物流公司名称、运单号、司机名称、司机电话等信息(最多输入200字)" maxlength="300" ng-model="kd_num" class="wb_1 dh_txt" style="width:400px; height: 200px; resize: none; text-align: left; padding: 5px;" >
                    	
                    	</textarea>
                </div>
                <button type="button" class="send" disabled ng-hide="kd_num.length>2">确认发货</button>
                <button type="button" class="send" ng-show="kd_num.length>2" ng-click="sell()">确认发货</button>

            </div>
        </div>

    </div>



</div>










