<div class="c-jh" >
	<div class="c-k">
		<div class="hea clearfloat">
			<h4>我的报价信息>>查看信息</h4>
		</div>
		<div class="lh-xx">

			<div class="tabla">
				<table width="100%" border="1" bordercolor="#bebebe" cellspacing="0" style="text-align: center;">
					<tbody>
						<tr style="background: #EBEBEB;">
							<td style="width:100px;">分类</td>
							<td style="width:101px;">物资名</td>
							<td>单位</td>
							<td>数量</td>
							<td>送货地点范围</td>
							<td style="min-width: 160px;">到货日期范围</td>
							<td style="width:180px;">技术质量要求</td>
						</tr>
					</tbody>
					<tbody>
						<tr ng-repeat="wuzi in data">
							<td style="width:100px;" ng-bind="wuzi.materialType">{{wuzi.materialType}}</td>
							<td style="width:101px;" ng-bind="wuzi.materialName">{{wuzi.materialName}}</td>
							<td ng-bind="wuzi.materialUnit">{{wuzi.materialUnit}}</td>
							<td ng-bind="wuzi.materialNumber">{{wuzi.materialNumber}}</td>
							<td ng-bind="wuzi.deliveryAddre">{{wuzi.deliveryAddre}}</td>
							<td>{{wuzi.arrivalCreateTime}}-{{wuzi.arrivalEndTime}}</td>
							<td  ng-bind="wuzi.otherRequire | bus">{{wuzi.otherRequire | bus}}</td>
							<!--<td ng-if="wuzi.otherRequire==''" >无要求</td>-->
						</tr>
						<!--<tr >
							<td style="width:45px;">1</td>
							<td style="width:101px;">水管1</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
						</tr>
						<tr >
							<td style="width:45px;">1</td>
							<td style="width:101px;">水管1</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>2017-05-06</td>
						</tr>
						<tr >
							<td style="width:45px;">1</td>
							<td style="width:101px;">水管1</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>2017-05-06</td>
						</tr>
						<tr >
							<td style="width:45px;">1</td>
							<td style="width:101px;">水管1</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>2017-05-06</td>
						</tr>-->
					
						
					</tbody>
				</table>
			</div>

		</div>

			

			</div>
	</div>
</div>

<script>
//document.write("outerWidth: " + window.outerWidth + " outerHeight: " + window.outerHeight); // 显示：outerWidth: 1366 outerHeight: 768
</script>