<div class="c-jh" >
	<div class="c-k">
		<div class="hea clearfloat">
			<h4>我的报价信息>>报名</h4>
		</div>
		<div class="c-qw">
				<div class="c-wr font" >
				<span><b >招募活动:</b></span>
				<f class="gayw hs" ng-bind="data.title"><b>{{data.title}}</b></f>
			</div>
				<div class="c-wr">
				<span>您的身份:</span>
				<f class="gayw hs">供应商</f>
			</div>
			<div class="c-wr">
				<span>支付金额:</span>
				<f class="gayw hs" ng-bind="data.payment">{{data.payment}}元</f>
			</div>
				
			<div class="c-wr2" style="margin-top: 50px; padding-bottom: 20px;">
				<span></span>
				 <div class="ysa">
				<div class="tex">
			<button class="qww unselected">支付</button>
				</div>
				</div>
			</div>
			
		</div>
	</div>

</div>