<div class="c-jh">
	<div class="c-k">
		<div class="hea clearfloat">
			<h4>管理联合采购申请</h4>
			<!--<span style="color: #a0a0a1;">您已成功发布<ts>0</ts>条采购计划</span>-->
		</div>
		<div class="fbcg" style="padding-top: 0px; height: auto;">
			<div class="f-rq">
				<span>发布日期：从</span>
				<input def-calendata type="text"  id="start" ng-model="startTime" class="laydate-icon" />
				<k class="k">到</k>
				<input def-calendata type="text"  id="end" ng-model="endTime" class="laydate-icon" />
				<div class="c-wr2" ng-controller="fenl" style="display: inline-block;">
				
						<select ng-model="pl.type" ng-change="xz('lb',pl.type)"  ng-options="o.code as o.name for o in dataw.category.categories">
							<option value="">采购类型</option>
						</select>
			
			
						<select ng-model="pl.type2" ng-change="ej('lb',pl.type2)" ng-click="mms()"  ng-options="o.code as o.name for o in res.category.categories" >
							<option value="">采购类型</option>
						</select>
						
						
						<select ng-model="pl.type3"  ng-options="o.code as o.name for o in rew.category.categories" >
							<option value="">采购类型</option>
					<!--		<option value="">物资分类</option>-->
						</select>
					
					
				</div>
				<button class="btw" ng-click="lbss()">搜素</button>
			</div>
			<div class="f-qb">
				<li class="ac" ng-click="yb(0)" colorw>全部<span>({{data.bidding.all}})</span></li>
				<li colorw ng-click="yb(1)">待审核<span>({{data.bidding.waitReview}})</span></li>
				<li colorw ng-click="yb(2)">未通过<span>({{data.bidding.notPass}})</span></li>
				<li colorw ng-click="yb(3)">未发布<span>({{data.bidding.waitPurchase}})</span></li>
				<li colorw ng-click="yb(4)">待付款<span>({{data.bidding.waitPayment}})</span></li>
				<li colorw ng-click="yb(5)">待评价<span>({{data.bidding.waitEvaluation}})</span></li>
			</div>
			<!--外壳-->
			<div class="f-sp" ng-show="up" >
				<div class="f-spf">
					<span class="f-y9">商品分类</span>
					<span class="f-y12" >商品信息</span>
					<span class="f-y8">采购类型</span>
					<span class="f-y8">状态</span>
					<span class="f-y8">申请日期</span>
					<span class="f-y8">操作</span>
				</div>
				<!--全部投标信息-->
				<div class="z-spf" >
				<div class="f-wq clearfix" style="height: 100px;" ng-repeat="shup in data.bidding.biggingList">
					<div style="width:100%; height: auto; overflow: hidden;">
					<div class="f-wp">
						<div class="f-y9">{{shup.biddingItemList[0].materialType1}}</div>
						<div class="f-y12" style="text-align: center;">
							<div  class="wojz">
                           <span ng-repeat="shuw in shup.biddingItemList">{{shuw.materialName}}</span>
                         </div>
						</div>
						<div class="f-y8">联合采购</div>
						<div class="f-y8">
							<span ng-show="{{shup.status}}==2">未发布</span>
							<span ng-show="{{shup.status}}==1">待审核</span>
							<span ng-show="{{shup.status}}==4">未通过</span>
							<span ng-show="{{shup.status}}==3">通过</span>
							<span ng-show="{{shup.status}}==12">待开标</span>
							<span ng-show="{{shup.status}}==6">待付款</span>
							<span ng-show="{{shup.status}}==7">已付款</span>
							<span ng-show="{{shup.status}}==10">招募</span>
							<span ng-show="{{shup.status}}==19">已报名</span>
							<span ng-show="{{shup.status}}==18">已收货</span>
						</div>
						<div class="f-y8">{{shup.createTime}}</div>
						<div class="f-y11" ng-show="{{shup.status}}==1" style="width:105px;" >
							<div class="bwt" ui-sref="buyt.sqxqlh({spid:shup.biddingId,staur:2})">查看信息</div>
								
							</div>
							<div class="f-y11 f-pq" ng-show="{{shup.status}}==4" style="width:105px;" >
								<div class="f-rt f-xg" ui-sref="buyt.fblh({staur:2})">重新申请</div>
							<div class="f-rt f-blue" ui-sref="buyt.sqxqlh({spid:shup.biddingId,staur:2})">查看信息</div>
								
							</div>
							<div class="f-y11" ng-show="{{shup.status}}==3" style="width:105px;" >
							<div class="bwt" ui-sref="buyt.sqxqlh({spid:shup.biddingId,staur:2})">查看信息</div>
					
								
							</div>
							<div class="f-y11" ng-show="{{shup.status}}==12" style="width:105px;" >
								<div class="bwt">查看信息</div>		
							</div>
						<div class="f-y11" ng-show="{{shup.status}}==13" style="width:105px;" >
							<div class="bwt">查看开标</div>
								
							</div>
							<div class="f-y11" ng-show="{{shup.status}}==6" style="width:105px;" >
							<div class="bwt f-red">付款</div>
								
							</div>
							<div class="f-y11" ng-show="{{shup.status}}==19" style="width:105px;" >
							<div class="bwt f-xg" ui-sref="buyt.cgbmlh({staur:2,bidd:shup.biddingId})" >修改报名</div>
								
							</div>
							<div class="f-y11" ng-show="{{shup.status}}==10" style="width:105px;" >
							<div class="bwt" ui-sref="buyt.cgbmlh({staur:2,bidd:shup.biddingId})">报名</div>
								
							</div>
						<div class="f-y11 f-pq" style="width:105px;" ng-show="{{shup.status}}==7">
							<div class="f-rt f-blue" ui-sref="buyt.qrfh">确认收货</div>
							<div class="f-rt f-xg" ui-sref="buyt.ckjh">查看信息</div>
						</div>
					
						<div class="f-y11" ng-show="{{shup.status}}==2" style="width:105px;">
								<div class="f-rt f-xg" ui-sref="buyt.xglh({spid:shup.biddingId,staur:2})">修改</div>
								<div class="f-rt f-red" ng-click="del(shup,$index)">删除</div>
								<div class="f-rt f-blue" ng-click="push(shup.biddingId,'INSERT')">发布</div>
							</div>
							<div class="f-y11" ng-show="{{shup.status}}==18" style="width:105px;">
								<div class="f-rt f-xg" ui-sref="buyt.xgcgjh({spid:shping.biddingId})">去评价</div>
								<div class="f-rt f-red">退货</div>
								<div class="f-rt f-blue" ng-click="push(shping.biddingId)">查看信息</div>
							</div>
					</div>
					<!--<div class="kka" style="width:86px; height:100%; float: right; background: red;">
					<div class="f-y11 f-pq" style="width: 110px;">
							<div class="f-rt f-qbl" ui-sref="buyt.bid">查看开标</div>
							<div class="f-rt f-xg" ui-sref="buyt.look">查看报价</div>
						</div>
						</div>-->
						</div>
				</div>
    
				</div>
							<div class="f-d">
					<span>显示第<iw>{{page}}</iw>页，共<w>{{num}}</w>条记录</span>
					<div class="f-r">
						<nav aria-label="Page navigation" class="clearfix">
							<ul class="pagination pagination-sm pagination1 fr" style="margin: 0">
								<li ng-class="{disabled:page==1}">
									<a href="javascript:void(0)" aria-label="Previous" ng-click="sub(page-1<1?1:page-1)" ng-disabled="page==1">
										<span aria-hidden="true">上一页</span>
									</a>
								</li>
								<li ng-if="page >= pageNum && lastPage !== pageNum" ng-click="sub(1)" ng-class="{active:item==1}">
									<a href="javascript:void(0)">1</a>
								</li>
								<li ng-if="page >= pageNum && lastPage !== pageNum">
									<a href="javascript:void(0)">...</a>
								</li>
								<li ng-click="sub(item)" ng-class="{active:item==page}" ng-repeat="item in pages">
									<a href="javascript:void(0)">{{item}}</a>
								</li>
								<li ng-if="lastPage > pageNum && firstPage <= lastPage - pageNum">
									<a href="javascript:void(0)">...</a>
								</li>
								<li ng-if="lastPage > pageNum && firstPage <= lastPage - pageNum" ng-click="sub(lastPage)" ng-class="{active:item==page}">
									<a href="javascript:void(0)">{{lastPage}}</a>
								</li>
								<li ng-class="{disabled:page==lastPage}">
									<a href="javascript:void(0)" aria-label="Next" ng-click="sub(page+1>lastPage?page:page+1)">
										<span aria-hidden="true">下一页</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				</div>
				
	
	
		<div class="fbcg" style="padding-top: 0px; height: auto; " ng-if="lhhide" >
	
			<div class="fb-z" style="margin-top: 90px;">
				<div class="f-xx"></div>
				<h3>您还没有申请采购计划！</h3>
				<p>发布采购计划可以快速获得供应商报价，获得更多采购资源，同时也能了解更多的供应商信息</p>
				<button ui-sref='buyt.fblh' class="btwe">立即申请</button>
			</div>
		</div>

			</div>
			<!--全部-->
			
		</div>
	</div>
</div>