<div class="c-jh">
	<div class="c-k">
		<div class="hea clearfloat">
			<h4>管理采购计划>>开标</h4>
		</div>
		<div class="f-kb">
			<div class="fcs">
				<span style="color: #000000; font-weight: bold;">采购产品:</span>
				<div class="fj-t">
					<span>一级分类</span>
					<span>二级分类</span>
					<span>水管</span>
					<span>50*50MM</span>
					<span>100根</span>
					<span>...</span>
					<div class="f-tb" id="accordion" style="margin-bottom: 30px;">
					<p class="f-ys" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"  style="margin-bottom: 10px;">详细信息展开>></p>
						<div id="collapseThree" class="panel-collapse f-ty  collapse">
					<div class="f-qs f-hs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
					</div>
					</div>
					<samp>该物资综合报价最低单位:<w class="f-or" style="color: #000000;">同鑫建投网络科技有限公司</w></samp>

				</div>
			</div>
			
			<!--<div class="f-tb" id="accordion">
				<p class="f-ys xis" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">详细信息展开>></p>
				<div id="collapseThree" class="panel-collapse f-ty  collapse">
					<div class="f-qs f-hs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
					<div class="f-qs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
					<div class="f-qs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
					<div class="f-qs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
					<div class="f-qs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
					<div class="f-qs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
					<div class="f-qs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
					<div class="f-qs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
				</div>
			</div>
			-->
			<div class="fcsw" style="margin-top: 30px;">
				 <div class="c-wr" style=" position: relative; margin-bottom: 10px;" >
				<span style="color: #000000;">招募活动:</span>
				<f style="margin-left: 5px;">（表中红色是对中标选择，您可以点击其它 ，提交您的意见 ）</f>
			 	
			</div>
				<div class="lh-wyu">
					<div class="tabla">
				<table width="100%" border="1" bordercolor="#bebebe" cellspacing="0" style="text-align: center; ">
					<tbody >
						<tr style="background: #EBEBEB; border-top:0px solid#BEBEBE ; ">
							<td style="max-width:40px;  border-left:0px solid #BEBEBE;"><div class="lh-qq"></div></td>
							<td style="min-width:160px; ">供应商</td>
							<td >水管1</td>
							<td>水管2</td>
							<td>水管3</td>
							<td>水管4</td>
							<td>水管5</td>
							<td>合计</td>
							<td>操作</td>
							
						</tr>
					</tbody>
					<tbody id="po">
						<tr style="color:red;">
							<td class="lh-kk" style="max-width:40px;  border-left:0px solid #BEBEBE;  "><label class="radio"><input type="radio" checked="checked" name="ri" /><i></i></label></td>
							<td style="min-width:160px; ">公司1</td>
							<td >30.00</td>
							<td>20.00</td>
							<td>200</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td style="color: #006CFF;">详细信息</td>
						</tr>
						
						<tr>
							<td class="lh-kk" style="max-width:40px;  border-left:0px solid #BEBEBE;  "><label class="radio"><input type="radio"  name="ri" /><i></i></label></td>
							<td >公司1</td>
							<td >30.00<span><i class="icon-checkmark"></i></span></td>
							<td>20.00<span><i class="icon-checkmark"></i></span></td>
							<td>200<span><i class="icon-checkmark"></i></span></td>
							<td>20.00<span><i class="icon-checkmark"></i></span></td>
							<td>20.00<span><i class="icon-checkmark"></i></span></td>
							<td>20.00</td>
							<td>详细信息</td>
						</tr>
						<tr>
							<td class="lh-kk" style="max-width:40px; border-left:0px solid #BEBEBE; "><label class="radio"><input type="radio"  name="ri" /><i></i></label></td>
							<td >公司1</td>
							<td >30.00<span><i class="icon-checkmark"></i></span></td>
							<td>20.00<span><i class="icon-checkmark"></i></span></td>
							<td>200<span><i class="icon-checkmark"></i></span></td>
							<td>20.00<span><i class="icon-checkmark"></i></span></td>
							<td>20.00<span><i class="icon-checkmark"></i></span></td>
							<td>20.00</td>
							<td>详细信息</td>
						</tr>
						<tr>
							<td class="lh-kk" style="max-width:40px; border-left:0px solid #BEBEBE; "><label class="radio"><input type="radio"  name="ri" /><i></i></label></td>
							<td >公司1</td>
							<td >30.00<span><i class="icon-checkmark"></i></span></td>
							<td>20.00<span><i class="icon-checkmark"></i></span></td>
							<td>200<span><i class="icon-checkmark"></i></span></td>
							<td>20.00<span><i class="icon-checkmark"></i></span></td>
							<td>20.00<span><i class="icon-checkmark"></i></span></td>
							<td>20.00</td>
							<td>详细信息</td>
						</tr>
						<tr>
							<td class="lh-kk" style="max-width:40px; border-left:0px solid #BEBEBE; "><label class="radio"><input type="radio"  name="ri" /><i></i></label></td>
						<td style="min-width:160px; ">北京同鑫建投有限公司</td>
							<td >30.00<span><i class="icon-checkmark"></i></span></td>
							<td>20.00<span><i class="icon-checkmark"></i></span></td>
							<td>200<span><i class="icon-checkmark"></i></span></td>
							<td>20.00<span><i class="icon-checkmark"></i></span></td>
							<td>20.00<span><i class="icon-checkmark"></i></span></td>
							<td>20.00</td>
							<td>详细信息</td>
						</tr>
					<tr>
							<td colspan="9" style="text-align: right; border-left:0px solid #BEBEBE; border-bottom:0px solid #BEBEBE;padding-right: 20px; color:#FF0000; font-size: 16px; font-weight: bold;">合计:12120元</td>
							
						</tr>
						
					</tbody>
				</table>
			</div>
			
	<script>
		    $('#po tr td').click(function(){
      //  $(this).toggleClass('red'); 
        //如果需要去除其它兄弟的样式，则可以改成如下：
        //$('input:radio:checked').removeAttr("checked")
var length=$("#po tr:eq(0) td").length;
        
         var i=$(this).index();
         if(i!=0&&i!=1&&i!=length-1&&i!=length-2){
         	$(".lh-hide").show()
         	$('input:radio:checked').removeAttr("checked")
         	 $(this).find('span').show()
         }
         if(i==0){
         	if($(this).parent().index()==0){
         		$('#po span').hide()
         		$(this).find("input").prop("checked",true)
         		$(".lh-hide").hide()
         	}else{
         		$(this).find("input").prop("checked",true)
$('#po span').hide()
         	 $(".lh-hide").show()
         	 $(this).parent().find("td span").show()
         	}
         	
         }


         $.each($(this).parent().siblings(), function(k,v) {
         	$(this).find('td').eq(i).find("span").hide();
         });
         //一行span都显示这行input选中
       var count1 = $(this).parent().find('span').size();
            var hidCount2 = 0;        
           $(this).parent().find('span').each(function() {
                if(!$(this).is(":hidden")) {
                    hidCount2++;
                }
           });
            if (hidCount2 == count1) {
            $(this).parent().find("input").prop("checked",true)
            }
           //span全部隐藏 第一个input选中 
            var count = $("#po span").size();
            var hidCount = 0;
            $("#po span").each(function() {
                if($(this).is(":hidden")) {
                    hidCount++;
                }
            });
            if (hidCount != count) {
	       $("#po tr:first").find("input").removeAttr("checked")
            }
            else {
            	$("#po tr:first").find("input").prop("checked",true)
              $(".lh-hide").hide()
            }
           
    });
//   $("#po tr").eq(0).nextAll().find("td").eq(0).click(function(){
//       	console.log(1)
//       })
	</script>
				</div>
				<div class="lh-hide" style="display: none;">
                 <span style="display: block; color:#000000; margin-top: 20px; margin-bottom: 10px;">为了给您提供更好的服务，希望您能抽出几分钟时间，将您选择其他供应商的感受和建议告诉我们！</span>
                 <textarea id="feedbackcontent" placeholder="请告知我们您选择其他供应商的原因哦？" ></textarea>
                 </div>
				</div>
			
			<div class="f-an" style="margin-top: 40px;">
				<div class="f-qr" style="margin-left: 0px;">确认中标</div>
			</div>
		</div>
	</div>
</div>
<script>
</script>