<div class="c-jh"  >
	<div class="c-k">
		<div class="hea clearfloat">
			<h4>管理联合开标>>开标>>详细信息</h4>
		</div>
		<div class="lh-xx">
			<span style="width:300px;text-align: left;"><b>同鑫建投网络科技有限公司所有物资报价：</b></span>
			<div class="tabla">
				<table width="100%" border="1" bordercolor="#bebebe" cellspacing="0" style="text-align: center; ">
					<tbody >
						<tr style="background: #EBEBEB; ">
							<td style="width:265px;  border-left:0px solid #BEBEBE;">供应商</td>
							<td >物资</td>
							<td>单位</td>
							<td>数量</td>
							<td style="width:45px;">出厂单价(含税)</td>
							<td>运输单价(含税)</td>
							<td>总单价(含税)</td>
							<td>总金额(含税)</td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td style="width:285px;  border-left:0px solid #BEBEBE;  ">公司</td>
							<td >水管1</td>
							<td>根</td>
							<td>200</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
						</tr>
						
						<tr>
							<td style="width:285px;  border-left:0px solid #BEBEBE;  ">公司</td>
							<td >水管1</td>
							<td>根</td>
							<td>200</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
						</tr>
						<tr>
							<td style="min-width:265px; border-left:0px solid #BEBEBE; ">公司</td>
							<td >水管1</td>
							<td>根</td>
							<td>200</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
						</tr>
						<tr>
							<td style="width:285px; border-left:0px solid #BEBEBE; ">公司</td>
							<td >水管1</td>
							<td>根</td>
							<td>200</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
						</tr>
						<tr>
							<td style="width:285px; border-left:0px solid #BEBEBE; ">公司</td>
							<td >水管1</td>
							<td>根</td>
							<td>200</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
						</tr>
					<tr>
							<td colspan="8" style="text-align: right; border-left:0px solid #BEBEBE;padding-right: 20px; color:#FF0000; font-size: 16px; font-weight: bold;">合计:12120元</td>
							
						</tr>
						
					</tbody>
				</table>
			</div>
			<button class="qww unselected">签订订单</button>
		</div>
	</div>
</div>

<script>
//document.write("outerWidth: " + window.outerWidth + " outerHeight: " + window.outerHeight); // 显示：outerWidth: 1366 outerHeight: 768
</script>