	<div class="c-rigth a" >
		<ul class="rg-mu1" >
			<li>
				<i class="icon-suoye"></i>
				<span>首页</span>
			</li>
			<li>
				<i class="icon-chaigou"></i>
				<span>采购管理</span>
				<div class="c-xa" >
					<samp>发布采购计划</samp>
					<samp>管理采购计划</samp>
					<samp>我的招标信息</samp>
				</div>
			</li>
			<li>
				<i class="icon-dingdan"></i>
				<span>商品评价</span>
			</li>
			<li>
				<i class="icon-fanxiu"></i>
				<span>返修/退换商品</span>
			</li>
			<!--<li>
				<i class="icon-fanxiu"></i>
				<span>返修/退换商品</span>
			</li>-->
			<li>
				<i class="icon-shouchang"></i>
				<span>我的收藏</span>
			</li>
			<li>
				<i class="icon-toushu"></i>
				<span>投诉管理</span>
			</li>
			<!--<li sdown>
				<i class="icon-shezhi"></i>
				<span>账户设置</span>	
				<ul style="display: none;">
					<li>同鑫快捷支付</li>
					<li>修改密码</li>
					<li>安全验证设置</li>
					<li>公司信息</li>
					<li>联系信息</li>
					<li>收发货地址管理</li>h
					<li>信用认证</li>
				</ul>-->
				<li>
					<h class="active2" style="width:100%; display: inline-block; height: 60px; line-height: 60px;">
				<i class="icon-shezhi"></i>
				<span>账户设置</span>	
				<span style="float: right; margin-right: 10px;"><i class="glyphicon glyphicon-menu-down"></i></span>
				</h>
				<ul>
					<li>公司信息</li>
					<li>修改联系信息</li>
					<li  class="active3">修改密码</li>
					<li ui-sref="buyt.perinfor({staur:0})">密码保护问题</li>
					<li>安全验证设置</li>
					<li>采购商店铺管理</li>
				</ul>
			</li>
		</ul>
		
	</div>