<div class="c-jh" style="padding-left: 0px; margin-top: 0px;">
	<div class="c-k">
		<div class="hea clearfloat">
			<h4>修改密码</h4>
		</div>
		<div class="f-kb">
			<div class="x-center">
				<div class="x-verify">
					<div class="x-ver1">
						<span class="x-op x-opx">1</span>
						<span class="x-op2 x-op2x">验证身份</span>
					</div>
					<div class="x-wer"></div>
					<div class="x-ver1">
						<span class="x-op">2</span>
						<span class="x-op2">重置登陆</span>
					</div>
					<div class="x-wer2"></div>
					<div class="x-ver1" style="margin-right: 0px;">
						<span class="x-op"><i class="glyphicon glyphicon-ok" style="font-weight: 100;"></i></span>
						<span class="x-op2">密码重置成功</span>
					</div>
				</div>
			</div>
			<div class="x-cen" style="display: none;">
				<div class="x-hk">
					<span class="x-bs"><e class="degree">*</e>请选择验证方式:</span>
					<label>
						<select></select>
					</label>
				</div>
				<div class="x-hk">
					<span class="x-bs"><e class="degree">*</e>验证码:</span>
					<label>
						<input type="text" />
					</label></div>
					<div class="x-hk">
					<span class="x-bs"></span>
					<label>
						<div class="x-yzm"></div>
						<div class="x-yzm2">看不清，换一张</div>
					</label>
					</div>
					<div class="x-hk">
					<span class="x-bs"><e class="degree">*</e>手机验证码:</span>
					<label>
						<input  type="text" class="x-yzm3" />
						<div class="x-yzm4">获取验证码</div>
					</label>
					</div>
					 <div  class="form-group" >
				  	<label for="" class="col-sm-offset-2 col-sm-10" style="font-size: 12px; margin-left: 145px;">
				  		<input type="checkbox" name="" style="float: left;"  />
				  		<span style="float: left;display: block;margin-top: 3px; margin-left: 4px;">同意 《同鑫建投服务相关协议》</span>
				  	</label>
				  </div>
				
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button  class="queren" style="margin-left: 10px;" >下一步</button>
				    </div>
				  </div>
			</div>
			<div class="x-cen" style="display: none;">
				<div class="x-hk">
					<span class="x-bs"><e class="degree">*</e>您的用户名:</span>
					<label>
						<span class="x-yzm6" >朱琳琳</span>
					</label>
				</div>
				<div class="x-hk">
					<span class="x-bs"><e class="degree">*</e>新密码:</span>
					<label>
						<input type="text" />
					</label></div>
					<div class="x-hk">
					<span class="x-bs"><e class="degree">*</e>请再次输入密码:</span>
					<label>
						<input  type="text"  />
						
					</label>
					</div>
				
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button  class="queren" style="margin-left: 15px;" >下一步</button>
				    </div>
				  </div>
			</div>
			<div class="x-cen" >
				<div class="fbcg" style="height: auto; padding-top: 20px;">
			<div class="fb-z">
				<div class="f-yq"><i class="icon-checkmark"></i></div>
				<h3>重置成功，您重置了您的同鑫会员登录密码！</h3>
				<p>下次登录时请使用新密码进行登录</p>
				<!--<button class="btwe" ui-sref="buyt.fblh({staur:2})">继续发布采购计划</button>-->
			</div>
		</div>
			</div>
	</div>
	</div>
</div>
<style>
	.x-center{
	width:760px;
	height: 60px;
	margin: auto;
	margin-top: 20px;	
	font-size: 16px;
	text-align: center;
	    font-family: sans-serif;
	}
		.x-cen{
	width:760px;
	height: 260px;
	margin: auto;
	margin-top: 40px;	
	font-size: 16px;
	}
	.form-group input[type=checkbox]{
		display: inline-block;
		width:14px;
		height: 14px;
		border: 1px solid #BEBEBE;
		background: #FFFFFF;
	}
	.x-hk{
		width:100%;
		height:40px;
		margin-bottom: 20px;
	}
	.x-hk select{
		width:278px;
	}
	.x-hk input[type=text]{
		width:278px;
		height: 40px;
	}
	.x-bs{
		display: inline-block;
		width:150px;
		height:40px;
		text-align: right;
		line-height: 40px;
		color: #666666;
		float: left;
		font-size: 14px;
		margin-right: 5px;
		
	}
	.x-yzm{
		float: left;
		width:130px;
		height: 40px;
		background: red;
	}
	.x-yzm2{
		float: left;
		width:130px;
		height: 40px;
		font-size: 13px;
		color: #006cff;
		text-align: center;
		line-height: 40px;
	}
	.x-yzm6{
		float: left;
		display: block;
		font-size: 13px;
		color: #000000;
		text-align: center;
		line-height: 40px;
	}
	.x-hk .x-yzm3{
		float: left;
		width:130px !important;
		height: 40px;
		font-size: 16px;
		line-height: 40px;
		margin-right: 20px;
	}
		.x-yzm4{
		float: left;
		width:130px;
		height: 40px;
		font-size: 14px;
		color: #666666;
		line-height: 40px;
		text-align: center;
		background: #ebebeb;
	}
	.x-center .x-verify{
		
		width:100%;
		position: relative;
	}
	.x-center .x-verify .x-ver1{
		float: left;
		width:100px;
		height: 60px;
		text-align: center;
		margin-right: 220px;
	}
	.x-op{
		display: inline-block;
		width:30px;
		height: 30px;
		background: #bebebe;
		border-radius: 50%;
		text-align: center;
		line-height: 30px;
		color: #FFFFFF;
	}
	.x-opx{
		background:#fa850d;
	}
	.x-op2{
		display: block;
		margin-top: 8px;
		color: #bebebe;
		
	}
	.x-op2x{
		color:#fa850d;
	}
	.x-wer{
		position: absolute;
		top:15px;
		left:110px;
		width:200px;
		height: 4px;
		background: #bebebe;
		border-radius: 4px;
	}
	.x-wer2{
		position: absolute;
		top:15px;
		left:430px;
		width:200px;
		height: 4px;
		background: #bebebe;
		border-radius: 4px;
	}
</style>