    <!--在线回答-->
    <div class="z-cj">
     <div class="c-tr">
     			<div class="container">
     				<div class="na-l">
     					<!-- <img class="img2" src="images/logo2_03.jpg" alt=""/> -->

     				<img  class="img2" src="images/logo2_03.jpg"  class="img-responsive" ui-sref="index.op" style="display: inline-block; float: left; margin-top: 10px;  height: 99px; margin-left: 66px; width: auto;"/>

     					<div class="mh" style="margin-top: 10px;">
     					 
     					<div class="ss-k">
     						<input type="text" placeholder="请简单描述您的问题或问题关键词" />
     					</div>
     					<div class="sc-an" ui-sref="index.lb"><img src="images/ss-an.png" alt=""/></div>  
     					</div>  					
     					
     				</div>
     			</div>
     	</div>
     	</div>
     	<div id="hide_site">
							</div>
			<div class="container">
				<div class="zai-z">
					<span>在线回答</span>
					<div class="al-w">
						<samp>分类:</samp>
						 <button type="button" class="bnt bang">慧筑云服务</button>
						 <button type="button" class="bnt ban">店铺运营</button>
						 <button type="button" class="bnt ban">店铺百科</button>
					</div>
				<div class="al-w nj">
					<input type="text" placeholder="请写下您的问题" />
				</div>
				<span class="sag">问题补充描述</span>
				<div class="tex">
					<div  ng-controller="editorCtrl">
        <div id="div" ng-model="text" contenteditable="true" style="height: 180px;"></div>
                  </div>
				</div>
			<button type="button" class="bnt bang lo">发布</button>
			<div class="ask">
				<li>
					<div class="toux"></div>
					<div class="we-t">
						<h4>陈伟朋</h4>
						<ad>发布问题</ad>
						<span id="pl">我想问一下怎么把一个公司名换成另一个公司名?</span>
						<ma>今天<sj>08:41</sj></ma>
						<ma>回答<sj>(10)</sj></ma>
						<ma>分享<sj></sj></ma>
					</div>
				</li>
				<li>
					<div class="toux"></div>
					<div class="we-t">
						<h4>陈伟朋</h4>
						<ad>发布问题</ad>
						<span id="pl">我想问一下怎么把一个公司名换成另一个公司名?</span>
						<ma>今天<sj>08:41</sj></ma>
						<ma>回答<sj>(10)</sj></ma>
						<ma>分享<sj></sj></ma>
					</div>
				</li>
				<li>
					<div class="toux"></div>
					<div class="we-t">
						<h4>陈伟朋</h4>
						<ad>发布问题</ad>
						<span id="pl">我想问一下怎么把一个公司名换成另一个公司名?</span>
						<ma>今天<sj>08:41</sj></ma>
						<ma>回答<sj>(10)</sj></ma>
						<ma>分享<sj></sj></ma>
					</div>
				</li>
				<bo>点击更多</bo>
			</div>
				</div>
			</div>
			