<div class="c-tr">
	<div class="container">
<!--头部-->
		<div class="header-one">
			<div class="logo">
				<img src="images/logo2_03.jpg" ui-sref="index.op" style="height: 99px; margin-top: 20px;margin-left: 66px;"/>
			</div>
			<div id="bb">
				<ul class=" pull-right lct">
					<li class="bla">
						<span>1</span>
					</li>
					<li class="bla">
						<span>2</span>
					</li>
					<li class="bsl"><span>3</span></li>
					<li><span>4</span></li>
					<li><span>5</span></li>
					<li><span>6</span></li>
				</ul>
				<ul class="pull-right lct-x">
					<li class="lct-x-2">买家下单</li>
					<li class="lct-x-2">卖家确认订单</li>
					<li class="lct-x-1">买家付款</li>
					<li>卖家发货</li>
					<li>确认收货</li>
					<li>交易成功</li>
				</ul>
			</div>
		</div>
			<div class="sfq1">
				 <div class="panel-group" id="accordion">
			        <div class="panel panel-default" id='panel1'>
			            <div class="panel-heading zhifu" id="headingOne">
			                <h4 class="panel-title ">
			                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			                       		 商品名称  <span>xxxxxxxxx</span>
			                    </a>
			                    	<span>订单详情</span>
			                    	<span  class="pull-right" id="pull1">应该支付：<span>450.00 元</span></span>
			                </h4>
			            </div>
			           
			        </div>
			        <div class="panel panel-default" id="pane2">
			            <div class="panel-heading" id="headingTwo">
			                <h4 class="panel-title">
			                    <!--<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			                        Collapsible Group Item #2
			                    </a>-->
			                    <div class="checkbox">
			                    	<label for="">
			                    		<input type="checkbox" name="" id="" value="" class="dxk"/>可用余额
			                    	</label>
			                    </div>
			                    <span>(0.00元)</span>
			                </h4>
			            </div>
			            
			        </div>
			        <div class="panel panel-default " id="pane3">
			            <div class="panel-heading zhifu " id="headingThree">
			                <h4 class="panel-title">
			                   <!-- <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">-->
			                      <div class="checkbox collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" >
				                    	<label for="">
				                    		<input type="checkbox" name="rr"  />&nbsp;&nbsp;&nbsp;个人网银
				                    	</label>
			                   	 	</div>
			                   	 	<div class="clearfix"></div>
			                   	 	<div class="pull-right" id="zhifuff">
			                   	 	<span class="payon" style="position: relative; top:-20px">支付金额：450元</span>
			                   	 	<span class="icon-xiala" id="sj-up"></span>
			                   	 </div>
			                <!--    </a>-->
			                  
			                </h4>
			            </div>
			            <div id="collapseThree" class="panel-collapse collapse in ">
			                <div class="panel-body" style="position: relative;height: 500px;">
			                 		<div class="pay2">
			                 			<ul>
			                 				<li class="payon">储蓄卡</li>
			                 				<li>行用卡</li>
			                 			</ul>
			                 			<ul>
			                 				<li>中国邮政银行</li>
			                 				<li id="paytwo">中国建设银行</li>
			                 				<li>中国民生银行</li>
			                 				<li>中国交通银行</li>
			                 				<li>中国邮政银行</li>
			                 				<li>中国建设银行</li>
			                 				<li>中国民生银行</li>
			                 				<li>中国交通银行</li>
			                 				<li>中国邮政银行</li>
			                 				<li>中国建设银行</li>
			                 				<li>中国民生银行</li>
			                 				<li>中国交通银行</li>
			                 				<li>中国邮政银行</li>
			                 				<li>中国建设银行</li>
			                 				<li>中国民生银行</li>
			                 				<li>中国交通银行</li>
			                 				<li id="qrfk" ui-sref="index.sell">确认付款</li>
			                 			</ul>
			                 		</div>
			                </div>
			            </div>
			            
                   </div>
                    <div class="panel panel-default" id="pane4">
			            <div class="panel-heading zhifu " id="headingThree">
			                <h4 class="panel-title">
			                    <a class="collapsed" >
			                       <div class="checkbox" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
				                    	<label for="">
				                    		<input type="checkbox" name="rr" />&nbsp;&nbsp;&nbsp;企业网银
				                    	</label>
			                   	 </div>
			                   	 <div class="clearfix"></div>
			                   	 <div class="pull-right" id="zhifuff">
			                   	 	<span class="payon" style="position: relative; top:-20px">支付金额：450元</span>
			                   	 	<span class="icon-xiala  " id="sj-up"></span>
			                   	 </div>
			                    </a>
			                </h4>
			            </div>
			            <div id="collapsefive" class="panel-collapse collapse">
			                <div class="panel-body open" style="position: relative,overflow:hidden;height: 500px;">
			                 		<div class="pay2">
			                 			<ul>
			                 				<li class="payon">储蓄卡</li>
			                 				<li>行用卡</li>
			                 			</ul>
			                 			<ul>
			                 				<li>中国邮政银行</li>
			                 				<li >中国建设银行</li>
			                 				<li>中国民生银行</li>
			                 				<li>中国交通银行</li>
			                 				<li>中国邮政银行</li>
			                 				<li>中国建设银行</li>
			                 				<li>中国民生银行</li>
			                 				<li>中国交通银行</li>
			                 				<li>中国邮政银行</li>
			                 				<li>中国建设银行</li>
			                 				<li>中国民生银行</li>
			                 				<li>中国交通银行</li>
			                 				<li>中国邮政银行</li>
			                 				<li>中国建设银行</li>
			                 				<li>中国民生银行</li>
			                 				<li>中国交通银行</li>
			                 				<li id="qrfk" ui-sref="index.sell">确认付款</li>
			                 			</ul>
			                 		</div>
			                </div>
			            </div>
			            
                   </div>
                    <div class="panel panel-default" id="pane5">
			            <div class="panel-heading zhifu " id="headingThree">
			                <h4 class="panel-title">
			                    <a class="collapsed" >
			                       <div class="checkbox" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
				                    	<label for="">
				                    		<input type="checkbox" name="rr"  />&nbsp;&nbsp;&nbsp;银联支付
				                    	</label>
			                   	 </div>
			                   	 <div class="clearfix"></div>
			                   	 <div class="pull-right" id="zhifuff">
			                   	 	<span class="payon" style="position: relative; top:-20px">支付金额：450元</span>
			                   	 	<span class="icon-xiala" id="sj-up"></span>
			                   	 </div>
			                    </a>
			                </h4>
			            </div>
			            <div id="collapsefour" class="panel-collapse collapse">
			                <div class="panel-body open">
			                 		<div class="pay2-pp">
			                 		
			                 			<ul>
			                 				<li >在线支付(网银支付)</li>
			                 				<li id="zxmr">在线支付(无卡支付)</li>
			                 				
			                 			</ul>
			                 			<ul>
			                 				<li class="qrfk">确认付款</li>
			                 				<a href="#">其他付款方式</a>
			                 			</ul>
			                 		</div>
			                </div>
			            </div>
			            
                   </div>
                   
    </div>
			</div>
			</div>
			</div>