<!--采购商首页-->

	<div class="c-box" >
		<div class="c-ys clearfloat" style="padding-right: 0px;">
			<div class="c-q clearfloat">

				<div class="c-logo"><img src="images/gongsitu.png" alt=""/></div>
				<div class="c-xs">
					<h4>北京同鑫建投网络科技有限公司</h4>
				<span>您尚未完善企业资质信息,<samp>请完善>></samp></span>
				</div>
			</div>
			<div class="c-rd">
				<li><div class="c-gt"><i class="icon-youxiang"></i></div><span class="c-j">邮箱未认证</span></li>
				<li><div class="c-gt"><i class="icon-souji"></i></div><span class="gya">手机已认证</span></li>
			</div>
		</div>
		<!--我的订单-->
		<div class="c-dd">
			<h4>待办提醒</h4>
			<div class="c-gs">
				<li>采购单</li>
				<li class="gya">待付款(0)</li>
				<li class="gya">待发货(0)</li>
				<li class="gya">待确认发货(0)</li>
				<li class="gya">待评价商品(0)</li>
			</div>
			<div class="c-wz">
				<h4>采购车内暂时没有货品！</h4>
				<span class="gya">去首页,选择您想要的商品</span>
			</div>
		</div>
		<!--发布采购计划-->
		<div class="c-gj" >
			<span class="gya">发布您的采购计划，快速获得供应商询盘、报价机会</span>
			<div class="c-ann">立即发布</div>
		</div>
		<!--我的采购计划-->
		<div class="c-wd">
			<div class="c-gs">
				<li>我的采购计划</li>
				<li class="gya">我的招标信息</li>
				<li class="gya">投资信息</li>
				<li class="gya">融资信息</li>
			</div>
			<div class="c-wz">
				<h4>您还未发布采购计划！</h4>
				<span class="gya">发布详细采购清单，吸引买家报价达成交易,<samp class="c-j">立即发布采购计划>></samp></span>
			</div>
			<div class="c-tt">
				<li style="margin-left: 30px;">
	          <div class="c-qq">
					<div class='cqq'></div>
				</div>
				<div class="c-xqq"></div>
				<div class="c-gg"></div>
				<span style="margin-left: -20px;" class="hei">发布采购计划</span>
				</li>
				<li>
					 <div class="c-qq none">
					<div class='cqq'></div>
				</div>
				<div class="c-xqq c-qys"></div>
				<div class="c-gg"></div>
				<br />
				<span class="gya">审核通过</span>
				</li>
				<li>
					 <div class="c-qq none">
					<div class='cqq'></div>
				</div>
				<div class="c-xqq c-qys"></div>
				<div class="c-gg"></div>
				<br />
				<span class="gya">发布网上</span>
				</li>
				<li style="width:70px; margin-right: 0px;">
					 <div class="c-qq none">
					<div class='cqq'></div>
				</div>
				<div class="c-xqq c-qys"></div>
				<br />
				<span class="gya">卖家主动洽谈</span>
				</li>
			</div>
		</div>
	</div>





