<!--查看开标-->
<div class="c-jh">
	<div class="c-k">
	<div class="hea clearfloat">
		<h4>管理采购计划>>查看开标</h4>
	</div>
	<div class="f-kb">
		<div class="fcs">
			<span>采购产品:</span>
			<div class="fj-t">
				<span>一级分类</span>
				<span>二级分类</span>
				<span>水管</span>
				<span>50*50MM</span>
				<span>100根</span><br />
				<p class="f-ys">详细信息展开>></p>
			</div>
		
		
		</div>
			
			<div class="fcs">
			<span>投标报价:</span>
			<div class="f-sb">
				<span>首次报价</span>
				<li>1.￥20元/根</li>
				<li>2.￥20元/根</li>
				<li>3.￥20元/根</li>
				<li>4.￥20元/根</li>
				<li class="f-hs">5.￥20元/根</li>
				<li>6.￥20元/根</li>
			</div>
			<div class="f-sb">
				<span>当次报价</span>
				<li class="f-ls">4.￥20元/根</li>
			</div>
		</div>
		
	</div>
	</div>
</div>
<script>

</script>