<div class="lw-ct">
	<div class="ct-box">
		<div class="ct-k">
			<div class="head">
				<h4>信用认证</h4>
			</div>
			<div class="ct-main" style="display: none;">
				<div class="main-pics">
					<img src="images/cha.png" alt="" />
				</div>
				<h3>您现在还没有进行企业信用认证！</h3>
				<p class="infos">进行企业信息认证，通过第三方权威认证为自己的诚信值加分。真实直接的诚信证明可赢得买家的<br />更大信任，获得买家优先青睐。</p>
				<button class="btn btn-approve">立刻认证</button>
			</div>
			<div class="ct-main ct-main-lt">
				<form name='myForm'>
					<div class="ct-infos clearfloat">
						<p><label>*</label>企业名称:</p>
						<input type="text" required name="qyname" ng-model="qyname"/>
						<span>请输入企业名称</span>
					</div>
					<div class="ct-infos clearfloat">
						<p><label>*</label>公司对公账户:</p>
						<input type="text" required name="" id=""/>
					</div>
					<div class="ct-infos clearfloat">
						<p><label>*</label>开户行:</p>
						<div class="ct-sel-rt">
							<select>
								<option value="">吉林省</option>
								<option value="">吉林省</option>
								<option value="">吉林省</option>
							</select>
							<select>
								<option value="">辽宁市</option>
							</select>
							<select class="sel-max">
								<option value="">请选择</option>
							</select>
						</div>
					</div>
					<div class="ct-infos clearfloat">
						<p><label>*</label>法人/负责人:</p>
						<input type="text" required name="" id=""/>
						<div class="radio-rt">
							<input type="radio" name="sex" id="man" value="sex-input" />
							<label for="man">先生</label>
							<input type="radio" name="sex" id="woman" value="sex-input" />
							<label for="woman">女士</label>
						</div>
					</div>
					<div class="ct-infos clearfloat">
						<p><label>*</label>身份照片</p>
						<div class="ct-file">
							<input type="file" name="" id=""/>
							<div class="f-status">+</div>
							<span>正面</span>
						</div>
						<div class="ct-file">
							<input type="file" name="" id=""/>
							<div class="f-status">+</div>
							<span>反面</span>
						</div>
						<div class="ct-exl clearfloat">
							<em>例:</em>
							<img src="images/shouchi.png" alt=""/>
						</div>
					</div>
					<div class="ct-infos clearfloat">
						<p><label>*</label>联系电话:</p>
						<input type="text" required name="" id=""/>
					</div>
					<div class="ct-infos clearfloat">
						<p><label>*</label>邮箱:</p>
						<input type="text" required name="" id=""/>
					</div>
				</form>
			</div>
			<div class="ct-main" style="display: none;">
				<div class="main-pics">
					<img src="images/cha.png" alt="" />
				</div>
				<h3>非常抱歉，您提交的信息未通过审核。</h3>
				<p class="infos">请认真核对，保证您填的信息准确无误，我们将尽快为你核实。</p>
				<button class="btn btn-approve">重新提交</button>
			</div>
			<div class="ct-main" style="display: none;">
				<div class="main-pics">
					<img src="images/.png" alt="" />
				</div>
				<h3>恭喜您的企业已通过信用认证！</h3>
				<div class="pics-zsh">
					<img src="images/zizhizhengshu.png" alt=""/>
				</div>
			</div>
		</div>
	</div>
</div>
