<div class="cyhk">
<div class="container" style="width:1102px;height: 520px;" >
		
			<div class="zh-pw-body1">
				<div class="clearfix" style="height:140px;">
					<ul class="clearfix" style="margin-bottom: 20px;">
						<li  class="xg" style="width: 30px;height: 30px;border-radius: 50px;color: #FFFFFF;text-align: center;line-height: 30px;">1 <span style="color: #FA850D;">验证身份</span></li>
						<li  class="xg-hs"             style="width: 320px;height: 4px;position: relative;top:14px"></li>
						<li class="xg-hs" style="width: 30px;height: 30px;border-radius: 50px;color: #FFFFFF;text-align: center;line-height: 30px;">2 <span class="">重置登录</span></li>
						<li class="xg-hs"             style="width: 320px;height: 4px; position: relative;top:14px"></li>
						<li class="xg-hs" style="width: 30px;height: 30px;border-radius: 50px;color: #FFFFFF;text-align: center;line-height: 30px;">3 <span> 密码重置成功</span></li>
					</ul>
					
				</div>
				<div id=""     style="border:1px solid #EBEBEB;width: 840px;margin: auto;">
					<p style="font-size: 14px;color:#666666;width:95%;height:50px;margin-left: 20px;border-bottom: 1px solid #EBEBEB;line-height: 50px;">您正在使用<span style="color:#FA850D">"银行卡验证"</span>进行校验
						
					</p>
					<span style="display: inline-block;height: 33px;color:#BEBEBE;font-size:12px;margin-left: 180px;line-height: 45px;">您正在进行身份验证,请输入一张本人银行卡并验证</span>
					<div class="ymhz1" style="margin-top: 20px;border-bottom: 1px solid #EBEBEB;">
						<ul class="pull-left" style="padding-left: 80px;margin-right: 30px;position: relative; ">
							<li>银行卡号</li> 
							<li>持卡人姓名</li>
							<li> 证件
							</li>
							<li>手机号码</li>
							<li>验证码</li>
						</ul>
						<form action="" method="post" id="card-rest1"style="position: relative;">
							
							<input type="text" value="" />
							<span  class="trues" style="display: inline-block; width:20px;height:20px;border-radius:50%;text-align: center;color:#FFFFFF;background:#7ac23c;">√</span>
							<span class="danger1" style="color:#FF0000;font-size: 12px;position: absolute;left:480px;top:7px;">*&nbsp;请输入银行卡号</span><br/>
							<input type="text" />
							<span class="trues" style="display: inline-block; width:20px;height:20px;border-radius:50%;text-align: center;color:#FFFFFF;background:#7ac23c;">√</span>
							<div>
								<select name="" id="xz1">
									<option value="" >身份证</option>
									<option value="">护照</option>
									<option value="">港澳来往通行证</option>
									<option value="">台湾居民来往通行证</option>
								</select>
								
								<input type="text"  style="width: 179px;height: 40px;margin-bottom: 30px;"/>
								<span class="trues" style="display: inline-block; width:20px;height:20px;border-radius:50%;text-align: center;color:#FFFFFF;background:#7ac23c;">√</span>
							</div>
							<div style="position:relative;">
								<input type="text" name="" id="" value="" style="width: 179px;height: 40px;margin-bottom: 30px;padding-left: 5px; "   placeholder="此卡在银行预留手机号" />			
								<input type="button" id="btn" value="获取验证码" style="background:#EBEBEB;color:#666666;border:none;font-size:12px; width: 78px;height:40px; margin-left: 20px;position:relative;top:-2px"/>
								<span class="trues" style="display: inline-block; width:20px;height:20px;border-radius:50%;text-align: center;color:#FFFFFF;background:#7ac23c;">√</span>
								<p id="xym">校验码已经发送至手机13245678901,请勿泄露</p>
								
							</div>
							<div>
								<input type="text" name="" id="" value="" style="width: 280px;height: 40px;padding-left: 8px;" placeholder="6位数字"   />
								<span class="trues" style="display: inline-block; width:20px;height:20px;border-radius:50%;text-align: center;color:#FFFFFF;background:#7ac23c;">√</span>

							</div>
						</form>
						<div style="margin-top: 27px;display: inline-block; margin-right:170px ;margin-bottom: 20px;">
							<input type="checkbox" name="" id="" value="" /><span style="color:#000000;font-size: 12px;position: relative;left:4px;top:-2px;">同意《快捷支付相关协议》  </span><br></br>
							<button class="trues" style="background: #FA850D;width: 120px;height: 40px;color: #FFFFFF;line-height: 40px;text-align: center;border:none;margin-right: 20px;">下一步</button> <a href="#" style="color:#006cff;font-size: 12px;">重新验证支付方式</a>
						</div>
					</div>
					
					
				</div>
			</div>
		
	</div>
	</div>