<div class="c-jh"  >
	<div class="c-k">
		<div class="hea clearfloat">
			<h4>管理联合开标>>开标>>详细信息</h4>
		</div>
		<div class="lh-xx">
			<span style="width:300px;text-align: left;"><b>同鑫建投网络科技有限公司所有物资报价：</b></span>
			<div class="tabla">
				<table width="100%" border="1" bordercolor="#bebebe" cellspacing="0" style="text-align: center;">
					<tbody>
						<tr style="background: #EBEBEB;">
							<td style="width:45px;">序号</td>
							<td style="width:101px;">物资</td>
							<td>出厂单价(含税)</td>
							<td>运输单价(含税)</td>
							<td>总单价(含税)</td>
							<td>总金额(含税)</td>
							<td>合计</td>
							<td>报价日期</td>
						</tr>
					</tbody>
					<tbody>
						<tr >
							<td style="width:45px;">1</td>
							<td style="width:101px;">水管1</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>2017-05-06</td>
						</tr>
						<tr >
							<td style="width:45px;">1</td>
							<td style="width:101px;">水管1</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>2017-05-06</td>
						</tr>
						<tr >
							<td style="width:45px;">1</td>
							<td style="width:101px;">水管1</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>2017-05-06</td>
						</tr>
						<tr >
							<td style="width:45px;">1</td>
							<td style="width:101px;">水管1</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>2017-05-06</td>
						</tr>
						<tr >
							<td style="width:45px;">1</td>
							<td style="width:101px;">水管1</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>20.00</td>
							<td>2017-05-06</td>
						</tr>
					
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
//document.write("outerWidth: " + window.outerWidth + " outerHeight: " + window.outerHeight); // 显示：outerWidth: 1366 outerHeight: 768
</script>