<div class="c-rigth">
	<ul class="rg-mu1">
		<li  >
			<div class="spaa" ui-sref="buyt.cgjh">
			<i class="icon-suoye"></i>
			<span >发布采购计划</span>
			</div>

		</li>
		<li class="active2">
			<div class="spaa" ui-sref="buyt.glcgjh">
				<i class="icon-chaigou"></i>
			<span>管理采购计划</span>
			</div>
			
			<div class="c-xa">
				<samp>发布采购计划</samp>
				<samp>管理采购计划</samp>
				<samp>我的招标信息</samp>
			</div>
		</li>
		<li >
			<div class="spaa" ui-sref="buyt.wd">
				<i class="icon-dingdan"></i>
			<span >我的投标信息</span>
			</div>
			
		</li>
		<li>
			<div class="spaa" ui-sref="buyt.fblh({staur:1})">
				<i class="icon-dingdan"></i>
			<span >申请联合采购</span>
			</div>
			
		</li>
		<li>
			<div class="spaa" ui-sref="buyt.glcglh({staur:1})">
				<i class="icon-dingdan"></i>
			<span >管理联合采购申请</span>
			</div>
			
		</li>
		<li>
			<div class="spaa" ui-sref="buyt.makelh({staur:1})">
				<i class="icon-dingdan"></i>
			<span >我的报价信息</span>
			</div>
			
		</li>
	</ul>

</div>