<div class="c-jh">
	<div class="c-k">
		<div class="hea clearfloat">
			<h4>管理发布采购计划</h4>
			<span style="color: #a0a0a1;">您已成功发布<ts>0</ts>条采购计划</span>
		</div>
		<div class="fbcg" style="padding-top: 0px; height: auto; ">
			<div class="f-qb">
				<li class="ac">全部<span>(0)</span></li>
				<li>已发布<span>(0)</span></li>
				<li>未发布<span>(0)</span></li>
				<li>待开标<span>(0)</span></li>
				<li>作废订单<span>(0)</span></li>
			</div>
			<div class="fb-z" style="margin-top: 90px;">
				<div class="f-xx"></div>
				<h3>您还没有发布采购计划！</h3>
				<p>发布采购计划可以快速获得供应商报价，获得更多采购资源，同时也能了解更多的供应商信息</p>
				<button ui-sref='buyt.cgjh' class="btwe">立即发布</button>
			</div>
		</div>
	</div>
</div>