<div class="wbox1" style="position: relative;">
	    	<div class="conrt" id="contr" style="display: none;">
    		<div class="brn" id="brn"></div>
    					<div class="login">
				<h3>慧筑云员登录</h3>
				<div class="form-group">
					<p>*<span>您的用户名或密码输入错误</span></p>
					<form class="form-signin">
						<div class="inpt">
							<i class="kop"></i>
							<input type="email"  class="control" placeholder="请输入您的账号">
						</div>
       <div class="inpt ypl">
							<i class="kop"></i>
							<input type="email"  class="control" placeholder="请输入您的密码">
						</div>
        <div class="box">
          <span>忘记密码</span> 
          <span class="text-right" style="float: right;">立即注册</span>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>
				</div>
			</div>
    	</div>
		<div class="container" >
			
			<!--头部-->
				<div style="width:1102px;background: #EBEBEB;position: absolute;bottom: 30px;" id="header-two">
					<div class="logo pull-left">
						<img src="images/xc-logo.png" class="img-responsive" ui-sref="index.op" style="display: inline-block; float: left; margin-top: 10px; width:100px; height: 100px;"/>
					</div>
					<div class="clearfix" >
						<div id=""  style="position: absolute; bottom: 0px;left: 145px;font-size: 24px;color:#000000" >
							<w>|</w>
							<span  style="position: absolute;top:4px;width:220px;padding-left: 20px;font-size: 24px;font-weight: 500;">找回密码</span>
						</div>
						<div class="pull-right" style="position: absolute;bottom:3px;right: 0; color: #999999;">
							<a ui-sref="register.rigc" style="cursor: pointer;">注册</a>
							<a >|</a>
							<a id="login" ui-sref="login" style="cursor: pointer;">登录</a>
							<a >|</a>
							<a ui-sref="index.op">慧筑云首页</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div ui-view></div>