<div class="c-jh" >
	<div class="c-k">
		<div class="hea clearfloat">
			<h4>管理联合开标>>查看信息>>报价</h4>
		</div>
		<div class="lh-xx">

			<div class="tabla">
				<table class="tabcon" width="100%" border="1" bordercolor="#bebebe" cellspacing="0" style="text-align: center;">
					<tbody>
						<tr style="background: #EBEBEB">
							<td style="width:100px;">分类</td>
							<td style="width:101px;">物资名</td>
							<td>地区</td>
							<td>单位</td>
							<td>数量</td>
							<td>出厂单价(免税)</td>
							<td>运费价(免税)</td>
							<td>总单价(免税)</td>
							<td>总金额(免税)</td>
							<td style="width:180px;">其他说明</td>
						</tr>
					</tbody>
					<tbody>
						<tr >
							<td style="width:100px;">大类</td>
							<td style="width:101px;">水管1</td>
							<td>湖北武汉</td>
							<td>根</td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
						    <td><input type="text"/></td>
							<td><input type="text"/></td>
						</tr>
						<tr >
							<td style="width:100px;">大类</td>
							<td style="width:101px;">水管1</td>
							<td>湖北武汉</td>
							<td>根</td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
						    <td><input type="text"/></td>
							<td><input type="text"/></td>
						</tr>
						<tr >
							<td style="width:100px;">大类</td>
							<td style="width:101px;">水管1</td>
							<td>湖北武汉</td>
							<td>根</td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
						    <td><input type="text"/></td>
							<td><input type="text"/></td>
						</tr>
						<tr >
							<td style="width:100px;">大类</td>
							<td style="width:101px;">水管1</td>
							<td>湖北武汉</td>
							<td>根</td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
						    <td><input type="text"/></td>
							<td><input type="text"/></td>
						</tr>
						<tr >
							<td style="width:100px;">大类</td>
							<td style="width:101px;">水管1</td>
							<td>湖北武汉</td>
							<td>根</td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
						    <td><input type="text"/></td>
							<td><input type="text"/></td>
						</tr>
					
						
					</tbody>
				</table>
			</div>
			<button class="qww unselected">报价</button>
		</div>

			

			</div>
	</div>
</div>

<script>
//document.write("outerWidth: " + window.outerWidth + " outerHeight: " + window.outerHeight); // 显示：outerWidth: 1366 outerHeight: 768
</script>