<div class="c-tr">
<div class="container">
		<!--头部-->
			<div class="header-one">
				<div class="logo">
			  <img src="images/logo2_03.jpg" ui-sref="index.op"  style="height: 99px; margin-top: 20px;margin-left: 66px;"/>
				</div>
				<div id="bb">
					<ul class=" pull-right lct">
						<li class="bla">
							<span>1</span>
						</li>
						<li  class="bla">
							<span>2</span>
						</li>
						<li  class="bla"><span>3</span></li>
						<li class="bsl"><span>4</span></li>
						<li><span>5</span></li>
						<li><span>6</span></li>
					</ul>
					<ul class="pull-right lct-x">
						<li class="lct-x-2" >买家下单</li>
						<li class="lct-x-2">卖家确认订单</li>
						<li class="lct-x-2">买家付款</li>
						<li class="lct-x-1">卖家发货</li>
						<li ui-sref="index.sesh">确认收货</li>
						<li>交易成功</li>
					</ul>
				</div>
			</div>
			<!--下面-->
			<!--第一个-->
			<div class="mj-message" id="mj-1" style="min-height: 400px;"> 
				<p class="message" style="margin-bottom: 0;">
					<b>订单信息</b>
				</p>
				<div  class="clearfix" id="dingdan1" style="padding-left: 0px; padding-right: 0px;">
			<div class="ddbh1" style="height: 50px;line-height: 50px;">
				 <span id="dingdan2">
					订单编号：<b>92342342342</b>
				</span>
				<span>卖家：同鑫建投</span>
				<span>联系人：皮皮虾</span>
				<span>联系方式：13717572928</span>
			</div>
				<ul style="width: 353px;" class="pull-left">
					<li>商品信息</li>
					<li>
						<dl class="dl-horizontal ">
							<dt><img src="images/11.png" style="width: 100%;height: 100%;"/></dt>
							<dd>展鸿 供应 汽车水管弯头机械用汽车橡胶管</dd>
						</dl>
					</li>
					
				</ul>
				<ul class="pull-left" style="width: 120px;">
					<li>单位(元)</li>
					<li style="text-align: center;">50元</li>
					
				</ul>
				<ul class="pull-left" style="width: 120px;">
					<li>数量</li>
					<li style="text-align: center;">10</li>
					
				</ul>
				<ul class="pull-left" style="width:120px;">
					<li>金额</li>
					<li style="text-align: center;">500.00</li>
					
				</ul>
				<ul class="pull-left" style="width: 120px;">
					<li>运费</li>
					<li style="text-align: center;">
						<div>0.00</div>
						
					</li>
				</ul>
				<ul class="pull-left" style="width: 120px;">
					<li>订单总金额(元)</li>
					<li style="text-align: center;">
						500.00
						
					</li>
				</ul>
				<ul class="pull-left" style="width: 120px;">
					<li>商品状态</li>
					<li style="text-align: center;">
						等待卖家发货
					</li>
				</ul>
				<ul class="pull-left" style="width: 120px; border-right: none;">
					<li>实际交易额(元)</li>
					<li style="text-align: center;">
						450.00
					</li>
				</ul>
				
			</div>
			</div>
			<!--第二个-->
			<div class="mj-message" id="mj-2"> 
				<p class="message">
					<b>收货和物流信息</b>
				</p>
				
			</div>
			<!--第三个-->
			<div class="mj-message" id="mj-3"> 
				<p class="message">
					<b>订单操作信息</b>
				</p>
				
			</div>
			
		</div>
		</div>