<div class="c-jh">
	<div class="c-k">
		<div class="hea clearfloat">
			<h4>管理采购计划>>开标</h4>
		</div>
		<div class="f-kb">
			<div class="fcs">
				<span>采购产品:</span>
				<div class="fj-t">
					<span>一级分类</span>
					<span>二级分类</span>
					<span>水管</span>
					<span>50*50MM</span>
					<span>100根</span><br />
					<p class="f-ys" ui-sref="buyt.ckjh">详细信息展开>></p>
					<samp>同单号综合报价最低单位:<w class="f-or">同鑫建投网络科技有限公司</w></samp>

				</div>
				<div class="wyt" ui-sref="buyt.offer">二次报价</div>
			</div>
			<div class="f-tb" id="accordion">
				<p class="f-ys xis" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">详细信息展开>></p>
				<div id="collapseThree" class="panel-collapse f-ty  collapse">
					<div class="f-qs f-hs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
					<div class="f-qs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
					<div class="f-qs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
					<div class="f-qs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
					<div class="f-qs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
					<div class="f-qs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
					<div class="f-qs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
					<div class="f-qs">
						<span>同鑫建投网络科技有限公司</span>
						<span>投标4种</span>
						<span>总报价金额：￥3000元</span>
					</div>
				</div>
			</div>
			<div class="fcsw">
				<span>采购产品:</span>
				<div class="fj-t">
					<div class="f-zb">
						<input type="radio" name="op" />
						<span class="f-hs">1.￥20元/根</span>
						<span>同鑫建投网络科技有限公司</span>
						<span>电话：134 1234 5678</span>
						<span class="f-ys" ui-sref="buyt.look">详情 >></span>
					</div>
					<div class="f-zb">
						<input type="radio" name="op" />
						<span class="f-hs">2.￥20元/根</span>
						<span>同鑫建投网络科技有限公司</span>
						<span>电话：134 1234 5678</span>
						<span class="f-ys">详情 >></span>
					</div>
					<div class="f-zb">
						<input type="radio" name="op" />
						<span class="f-hs">3.￥20元/根</span>
						<span>同鑫建投网络科技有限公司</span>
						<span>电话：134 1234 5678</span>
						<span class="f-ys">详情 >></span>
					</div>
					<div class="f-zb">
						<input type="radio" name="op" />
						<span class="f-hs">4.￥20元/根</span>
						<span>同鑫建投网络科技有限公司</span>
						<span>电话：134 1234 5678</span>
						<span class="f-ys">详情 >></span>
					</div>
					<div class="f-zb">
						<input type="radio" name="op" />
						<span class="f-hs">5.￥20元/根</span>
						<span>同鑫建投网络科技有限公司</span>
						<span>电话：134 1234 5678</span>
						<span class="f-ys">详情 >></span>
					</div>
					<div class="f-zb">
						<input type="radio" name="op" />
						<span class="f-hs">6.￥20元/根</span>
						<span>同鑫建投网络科技有限公司</span>
						<span>电话：134 1234 5678</span>
						<span class="f-ys">详情 >></span>
					</div>

				</div>
			</div>
			<div class="f-an">
				<div class="f-qr">确认中标</div>
			</div>
		</div>
	</div>
</div>
<script>
</script>