<div class="lb-z-feny clearfloat " style="position: relative;">
    <div class="lb-z-syy">＜
        <r id="previous" ng-click="previous()">上一页</r>
    </div>
    <div class="lb-z-ui">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
    </div>
    <div class="lb-dot">...</div>
    <div class="lb-z-xyy" id="" ng-click="next()">下一页></div>
    <div class="lb-z-tob">共100页，</div>
    <div class="lb-from">
        <span class="text">到第</span>
        <input type="text" value="2" />
        <span class="text">页</span>
        <span class="lb-bnt">确定</span>
    </div>
</div>