<div class="c-jh" >
	<div class="c-k">
		<div class="hea clearfloat">
			<h4>管理联合开标>>开标>>详细信息</h4>
		</div>
		<div class="lh-xx">
             <div class="c-wr font" style=" position: relative;" >
				<span><b >招募活动:</b></span>
				<f><b>关于钢管类物资的招募</b></f>
			 	<button class="unselected"  style="display: inline-block; width:100px; height: 30px; position: absolute; border-radius: 4px; top:-8px; margin-left: 30px; color: #fff;">添加</button>
			</div>
			<div class="tabla">
				<table class="tabcon" width="100%" border="1" bordercolor="#bebebe" cellspacing="0" style="text-align: center;">
					<tbody>
						<tr style="background: #EBEBEB">
							<td >分类</td>
							<td >物资名</td>
							<td>是否分批到货</td>
							<td>单位</td>
							<td>数量</td>
							<td>到货地点</td>
							<td>到货地点</td>
							
						</tr>
					</tbody>
					<tbody>
						<tr >
							<td style="width:100px;">大类</td>
							<td style="width:101px;">水管1</td>
							<td>是</td>
							<td>根</td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							
						</tr>
						<tr >
							<td style="width:100px;">大类</td>
							<td style="width:101px;">水管1</td>
							<td>是</td>
							<td>根</td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
						
						</tr>
						<tr >
							<td style="width:100px;">大类</td>
							<td style="width:101px;">水管1</td>
							<td>是</td>
							<td>根</td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							
						</tr>
						<tr >
							<td style="width:100px;">大类</td>
							<td style="width:101px;">水管1</td>
							<td>是</td>
							<td>根</td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							
						</tr>
						<tr >
							<td style="width:100px;">大类</td>
							<td style="width:101px;">水管1</td>
							<td>是</td>
							<td>根</td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
							<td><input type="text"/></td>
						
						</tr>
					
						
					</tbody>
				</table>
			</div>
			<div class="c-wr" >
				<span>联系人:</span>
				<input type="text" />
			</div>
			<div class="c-wr" >
				<span>联系电话:</span>
				<input type="text" />
			</div>
			<div class="c-wr" style="margin-bottom: 0px;" >
				<span>特殊要求:</span>
				<textarea></textarea>
			</div>
			<div class="c-wr"  >
				<span></span>
					<input type="checkbox" name="ww" />
					<k >您已同意采购商要求</k>
			</div>
			<div class="c-wr" >
				<span></span>
				<button class="qww unselected">报价</button>
			</div>
			
		</div>

			

			</div>
	</div>
</div>

<script>
//document.write("outerWidth: " + window.outerWidth + " outerHeight: " + window.outerHeight); // 显示：outerWidth: 1366 outerHeight: 768
</script>