<div class="xc" style="padding-left: 0px; padding-right: 0px;">
	<div class=" banner clearfix">
		<!--<img src="images/xc-banner.png" alt="" />-->
		<div class="main">
			<div class="logo">
				<img src="images/xc-logo.png" alt="" />
			</div>
		</div>
		<div class="txt1">
			一个<strong>没有中间商</strong>的
		</div>
		<div class="txt2">
			建筑企业<strong>联合采购</strong>平台
		</div>
	</div>
	<div class="middle clearfix">
		<div class="intro">
			<div class="left">
				<h1>慧筑云</h1>
				<div class="txt3">
					<p>创立于北京，是一家专注于建筑行业供应链管理的电子商务公司。慧筑云，寓意让建筑事业充满智慧。</p>
					<p>
						 慧筑云以打造最具影响力的建筑业采购与供应链平台为宗旨。
						 致力于帮助建筑业内的采供双方创造优质的交易环境，建立可持续发展的新型电子商务交易模式。
						  包括：创造性的企业联盟采购，询比价竞价采购，源头店铺直采。
						  不仅大幅度的降低建筑企业采购成本，而且为优秀建材供应商创造更大销售空间。
					</p>					
					<p>
						慧筑云帮助建筑行业上下游盘活闲置资金，开创互联网+易货（以货换货）供应链模式。慧筑云易货模式，高效解决易货难题，让易货变得简单快速，让闲置资产及产品库存轻松流转起来，最大化发挥资产价值。
					</p>
					<p>
						  慧筑云始终坚持不论从商品发布、企业询单、采购下单、物流运输、售后服务、直至金融支持，严格把控整个生态圈的每一个环节，用心为建筑企业及供应商提供省钱、安全、高质、高效的优质服务。
						   慧筑云不仅仅是一家第三方交易平台，我们做的是行业供应链解决方案。慧筑云在全国各地设有服务公司，实地解决企业供应链问题。 
					</p>
				</div>
			</div>
			<div class="right">
				<img src="images/xc-jieshao.png" alt="" />
			</div>
		</div>
	</div>
	<div class="lbt clearfix">
		<div class="blue">
			<div class="txt5">
				<span>
					企业采购有问题，请找慧筑云!
				</span>
				
				<span style="">
					企业销售有问题请找慧筑云!
				</span>
				
			</div>
			<div class="txt6">
				业务功能
			</div>
		</div>
		<div class="img-box">
			<ul>
				<li ><img src="images/xc-lianhecaigou.png" alt="" /><span class="mask">联合采购</span><p>联合区域各建筑企业对 共同材料需求进行联合采购</p></li>
				<li><img src="images/xc-jingjia.png" alt=""/><span class="mask">询比价</span><p>可自行搭配询比价或 定时竞价方式开展采购</p></li>
				<li><img src="images/xc-dianpuzhicai.png" alt="" /><span class="mask">店铺采购</span><p>直接在电子商城选择购买</p></li>
				<li> <img src="images/xc-yihuo.png" alt=""/><span class="mask">易货</span><p>以物换物， 平台以独特的解决方案 ， 帮助企业盘活闲置资产及产品</p></li>
				<li><img src="images/xc-gongyinlianjinrong.png" alt="" /><span class="mask">供应链金融</span><p>与金融机构合作, 解决企业采购资金短缺问题</p></li>				
			</ul>
		</div>
	</div>
	
	<div class="feature">
		<div class="main">
			<h4 class="text-center">平台特色</h4>			
		<ul class="clearfix">
				<li  ng-mouseenter="magnify($event)" ng-mouseleave="recover($event)"><img src="images/xc-shengqian.png" alt="省钱" />
					<p>省钱</p>
					<div class="big">
				<img src="images/xc-shengqian.png"  />
					<p>省钱</p>
			</div>
				</li >
				<li ng-mouseenter="magnify($event)" ng-mouseleave="recover($event)"><img src="images/xc-anquan.png" alt="安全" />
					<p>安全</p>
					<div class="big">
				<img src="images/xc-anquan.png" alt="" />
					<p>安全</p>
			</div>
				</li>
				<li ng-mouseenter="magnify($event)" ng-mouseleave="recover($event)"><img src="images/xc-gaozhi.png" alt="高质" />
					<p>高质</p>
					<div class="big">
				<img src="images/xc-gaozhi.png" alt="" />
					<p>高质</p>
			</div>
				</li>
				<li ng-mouseenter="magnify($event)" ng-mouseleave="recover($event)"><img src="images/xc-gaoxiao.png" alt="高效" />
					<p>高效</p>
					<div class="big">
				<img src="images/xc-gaoxiao.png" alt="" />
					<p>高效</p>
			</div>
				</li>
			</ul>
	
		</div>
		
	</div>
	<div class="footer">
		<div class="foot-box">
			<div class="f-left">
				<h3>慧筑云</h3>
				<!--<p>
					<i><img src="images/xc-dizhi.png" alt="" /></i>
					北京市通州区万达广场B座2401室
				</p>-->
				<p>北京分公司  李先生 电话：13833625799</p>
				<p>辽宁分公司  李先生 电话：13898170718</p>
				<!--<p><i><img src="images/xc-dianhua.png" alt="" style="margin-right: 10px;margin-top: -3px;" /></i>400-8228-321</p>-->
				<!--<p><i><img src="images/xc-wangzhi.png" alt="" /></i>Email@tongxinbuilding.com</p>-->
			</div>
			<div class="f-middle">
				<h3>网站地址</h3>
				<div class="f-midd-l">
					<span >直采商城</span>
					<span>联合采购</span> 
					<span >询价采购</span>
				</div>
				<div class="f-midd-r">
					<span >易货</span>
					<span >供应链金融</span>
					<span >信息中心</span>
				</div>
			</div>
			<div class="f-right" style="margin-top: 70px;">
				<!--<h3>关注连接</h3>
				<p class="clearfix"> 
					<i><img src="images/xc-dsf.png" alt="" /></i>					
				</p>-->
				<p>版权所有  同鑫网  京ICP备17034812号</p>
				<p>copyRight@2017-2022 huizhuyun.com.All</p>
				<p>Rights Reserved</p>
			</div>
		</div>
	</div>
	<div class="slideBar">
		<ul class="clearfix">
			<li  ui-sref="recruit"><img src="images/xc-zhao.png" alt="" /></li>
			<li><img src="images/xc-dianhua.png" alt="" /></li>
			<li goto><img src="images/xc-xiangshang.png" alt="" /></li>
		</ul>
	</div>
</div>