<div class="recruit">
	<div class="main">
		<h1>招募类别</h1>
		<div class="supplier">
			<h3>供应商招募</h3>
			<div class="sup">
				普通供应商：要求资质证照齐全+产品质量认证+实名认证
			</div>
			<div class="Contract">
				<p>签约供应商：要求资质证照齐全+产品质量认证+现场考察</p>
				<p>签约优势：1.免费享受商学院定期业务培训</p>
				<p>2.享受交易信任度优先级</p>
				<p>3.平台广告优惠</p>
			</div>
		</div>
		<div class="building">
			<h3>建筑企业招募</h3>
			<div class="bud">
				加盟建筑企业：要求资质证照齐全+实名认证
			</div>
			<div class="ys">
				<p>签约优势：1.加盟费-零投入（每市限制20家）</p>
				<p>2.享受各地分公司利润分红</p>
				<p>3.享受原始股优先权</p>
				<p>4.免费享受慧筑云增值服务（智慧工程）</p>
				<p>5.免费享受商学院定期业务培训（供应链+工程管理）</p>
			</div>

		</div>
		<div class="joinus">
			<button ng-click="json()">立即加入</button>
		</div>
	</div>

</div>
