<div class="regist">
	<div class="main-box">
		<div class="main">
			<div class="logo"><img src="images/xc-logo.png" alt="" ui-sref="index.op"/></div>
			<div class="title">注册账号</div>
			<div class="login-txt"><a style="cursor: pointer;" ui-sref="login">已有慧筑云账号，现在去登录</a></div>
		</div>
	</div>
	<ui-view></ui-view>
	
	<div class="footer">
		<div class="foo-box">
			<p>
				<a ui-sref="index.op">慧筑云首页</a>
				<span>|</span>
				<a href="#">关于慧筑云</a>
				<span>|</span>
				<a href="#">分支机构</a>
				<span>|</span>
				<a href="#">供应渠道</a>
				<span>|</span>
				<a href="#">广告服务</a>
				<span>|</span>
				<a href="#">网站导航</a>
				<span>|</span>
				<a href="#">诚聘英才</a>
				<span>|</span>
				<a href="#">法律申明</a>
				<span>|</span>
				<a href="#">意见投诉</a>
				<span>|</span>
				<a href="#">帮助中心</a>
				<span>|</span>
				<a href="#">友情链接</a>
			</p>
			<p>客服咨询热线： 400-8228-321号(免长途费)</p>
			<p>版权所有 慧筑云网 京ICP备17034812号</p>
			<p>Copyright ©2017-2017  huizhuyun.com  All Rights Reserved</p>
		</div>
	</div>
</div>
