 <model></model>
 <div class="input-box">
	<form name="myForm" >
		<div class="mb">
			<p><span>*</span>手机号码：</p>
			<input type="text" required ng-model="mob" name="mob"  ng-pattern="/^1[3|5|7|8][0-9]\d{8}$/" ng-focus="ty=false" ng-minlength="11" ng-maxlength="11" ng-blur="iph()" />
			<span style="color:red" ng-show="myForm.mob.$invalid && mobFocus">
  				<span ng-show="myForm.mob.$error.required">手机号是必须的。</span>
  				<span ng-show="myForm.mob.$error.pattern">请输入合法的手机号码。</span>
  				
			</span>
			<span ng-show="ty">您的手机号已经注册过了</span>
		</div>
		<div class="yzm clearfloat">
			<p><span>*</span>密码：</p>
				<input type="password"  required ng-model="passwd" name="passwd" 
				 ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z_.]{6,16}$/" 
				 ng-minlength="6" ng-maxlength="16" ng-blur="passwdFocus=true" />
				<i class="glyphicon glyphicon-eye-close" ng-if="!eye"  ng-click="passwdChange($event)" ></i>
				<i class="glyphicon glyphicon-eye-open" ng-if="eye"  ng-click="passwdChange($event)" ></i>
			<span style="color:red" ng-show="myForm.passwd.$invalid && passwdFocus">
  				<span ng-show="myForm.passwd.$error.required">密码是必须的。</span>
  				<span ng-show="myForm.passwd.$error.pattern">输入6-16位数字与字母组合密码</span>
			</span>
		</div>
		<div class="yzm clearfloat" >
			<p><span>*</span>确认密码：</p>
				<input type="password" style="float: left;"  required ng-model="qrpass" name="qrpass" ng-blur="passwd2=true"/>
				<div style="width:120px;height: 40px; overflow: hidden; display: inline-block; float: left;">
			<span style="color:red;width:120px; height: 40px; line-height: 40px; display: inline-block;" ng-show="myForm.qrpass.$invalid && passwd2">
  				<span style="line-height: 40px; height: 40px; width:120px; display: inline-block;" ng-show="myForm.qrpass.$error.required">请确认密码哦。</span>
  				
			</span>
			<span style="color:red; width:120px;line-height: 40px; display: inline-block;" ng-if="passwd!=qrpass&&passwd2">俩次密码不一致</span>
			</div>
		</div>
		<div class="dxyzm clearfloat">
			<p><span>*</span>短信验证码：</p>
			<input type="text" required ng-model="code" ng-focus="hide=false" name="code"  ng-pattern="/^\d{6,}$/" ng-blur="codeHide = true"/>

			<button class="btn-dzm" ng-class="{false:'active'}[mobFocus && myForm.mob.$invalid && ty]" ng-click="sendCode($event.target)">获取短信验证码</button>

			<span style="color:red" ng-show="myForm.code.$invalid && codeHide">
  				<span ng-show="myForm.code.$error.required">请输入验证码。</span>
				<span ng-show="myForm.code.$error.pattern">您输入的验证码有误，请核对正确后再次输入</span>
			</span>
  			<span ng-show="hide">{{tshi}}</span>
			
			
			
		</div>
		<div class="tyxy"><input type="checkbox" checked="checked" disabled="false" style="cursor:pointer;" /> 同意《慧筑云服务相关协议》</div>
		<div class="zc"><button ng-click="registPerson()">免费注册</button></div>
	</form>

</div>