	<div class="c-rigth a" >
		<ul class="rg-mu1" >
			<li>
				<div class="tit_box">
					<i class="icon-suoye"></i>
					<span>首页</span>
				</div>
			</li>
			<li sdown>
				<div class="tit_box">
					<i class="icon-chaigou"></i>
					<span>采购管理</span>
				</div>
				<ul style="display: none;">
					<li ui-sref="buyt.cgs01-cgdd">采购订单</li>
					<!-- <li>询比价订单</li>
					<li>联合采购订单</li> -->
				</ul>
			</li>
			<!-- <li>
				<div class="tit_box">
					<i class="icon-dingdan"></i>
					<span>采购订单</span>
				</div>
			</li> -->
			<li ui-sref="buyt.cgs01-shangpinpingjia">
				<div class="tit_box">
					<i class="icon-pingjia"></i>
					<span>商品评价</span>
				</div>
			</li>
			<!-- <li ui-sref="buyt.cgs01-fanxiu01">
				<div class="tit_box">
					<i class="icon-fanxiu"></i>
					<span>返修/退换商品</span>
				</div>
			</li> -->
			<li ui-sref="buyt.cgs01-wodeshoucang">
				<div class="tit_box">
					<i class="icon-shouchang"></i>
					<span>我的收藏</span>
				</div>
			</li>
			<li ui-sref="buyt.cgs01-tousuguanli">
				<div class="tit_box">
					<i class="icon-toushu"></i>
					<span>投诉管理</span>
				</div>
			</li>
		</ul>
		
	</div>