	<div class="c-rigth a" >
		<ul class="rg-mu1" >
			<li>
				<div class="tit_box">
					<i class="icon-suoye"></i>
					<span ui-sref="buyt.perinfor">首页</span>
				</div>
			</li>
			<li sdown>
				<div class="tit_box">
					<i class="icon-shezhi"></i>
					<span>账户设置</span>
				</div>
				<ul style="display: none;">
					
					<li ui-sref="logint.find">修改密码</li>
					<li ui-sref="buyt.cgs01-dizhiguanli">收货地址管理</li>
					<li ui-sref="buyt.perinfor">公司信息</li>
				
				</ul>
			</li>
		</ul>
		
	</div>