<!--查看报价-->
<div class="c-jh lhzm">
	<div class="c-k">
		<div class="hea clearfloat">
			<h4>我的投标信息>>查看报价</h4>
			<span>查看我的采购信息>></span>
		</div>
		<div class="c-qw">
			<div class="c-wr font" >
				<span><b >招募活动:</b></span>
				<f class="gayw hs"><b>关于钢管类物资的招募</b></f>
			</div>
			<div class="c-wr2">
					<span>其它要求:</span>
					<div class="ysa">
						<div class="tex">
							<textarea class="text-l" ng-model="other"></textarea>
						</div>
						<button class="qww unselected">上传附件</button>
					</div>
				</div>
			<div class="c-wr2">
					<span>其它要求:</span>
					<div class="ysa">
						<div class="tex">
							<textarea class="text-l" ng-model="other"></textarea>
						</div>
						<button class="qww unselected">上传附件</button>
					</div>
				</div>
			<div class="c-wr2">
					<span>其它要求:</span>
					<div class="ysa">
						<div class="tex">
							<textarea class="text-l" ng-model="other"></textarea>
						</div>
						<button class="qww unselected">上传附件</button>
					</div>
				</div>
			<div class="c-wr2">
					<span>其它要求:</span>
					<div class="ysa">
						<div class="tex">
							<textarea class="text-l" ng-model="other"></textarea>
						</div>
						<button class="qww unselected">上传附件</button>
					</div>
				</div>
			<div class="c-wr2">
					<span>其它要求:</span>
					<div class="ysa">
						<div class="tex">
							<textarea class="text-l" ng-model="other"></textarea>
						</div>
						<div><wt>21219</wt><oi style="margin-left: 10px;">删除</oi></div>
						<div><wt>21219</wt><oi style="margin-left: 10px;">删除</oi></div>
						<button class="qww unselected">上传附件</button>
					</div>
			</div>
			<div class="lh-xx">
				<div class="c-wr" >
				<span>联系人:</span>
				<input type="text" />
			</div>
			<div class="c-wr" >
				<span>联系电话:</span>
				<input type="text" />
			</div>
			<div class="c-wr" style="margin-bottom: 0px;" >
				<span>特殊要求:</span>
				<textarea></textarea>
			</div>
			<div class="c-wr" style="margin-bottom: 0px;">
				<span></span>
					<input type="checkbox" checked="checked" name="ww" />
					<k >我已认真阅读招募要求，并同意招募书的要求及规则。</k>
			</div>
			<div class="c-wr" style="margin-bottom: 0px;">
				<span></span>
					<input type="checkbox" name="ww" checked="checked" />
					<k >可对采购物资完整报价、不漏项。</k>
			</div>
			</div>
<div class="c-wr2" style="margin-top: 50px; padding-bottom: 20px;">
				<span></span>
				 <div class="ysa">
				<div class="tex">
			<button class="qww unselected">报名</button>
				</div>
				</div>
			</div>
		</div>
	</div>

</div>