     <div class="ctr">
     	<div class="container">
     <div class="header-one">
			<div class="logo">
			<img src="images/logo2_03.jpg" ui-sref="index.op" style="height: 99px; margin-top: 20px;margin-left: 66px;"/>
			</div>
			<div id="bb">
					<ul class=" pull-right lct">
					<li class="bsl">
						<span>1</span>
					</li>
					<li>
						<span>2</span>
					</li>
					<li><span>3</span></li>
					<li><span>4</span></li>
					<li><span>5</span></li>
					<!--<li><span>6</span></li>-->
				</ul>
				<ul class="pull-right lct-x">
					<li class="lct-x-1">买家下单</li>
					<!--<li >卖家确认订单</li>-->
					<li>买家付款</li>
					<li>卖家发货</li>
					<li>确认收货</li>
					<li>交易成功</li>
				</ul>
			</div>
		</div>


<div class="disu" id="hide_site">
	<div class="mj-message" style=" border: 1px solid #DEDEDE;"> 
			<p class="message">
				<b>订单提交</b>
			</p>
<div class="dsue">
	<div class="dszj"><i class="icon-checkmark"></i></div>
	<h3>恭喜您,提交订单成功！</h3>
	<div class="wed">
		<r>联系卖家</r>，通知尽快确认订单，或者<l ui-sref="buyt.cgs01-cgdd">查看以买到的产品</l>，统一处理订单。
	</div>
</div>
		</div>
		<!--<div class="zll" > 
			<div class="hrt">
				<li style="text-align: left; text-indent: 20px;">订单编号</li>
				<li>卖家信息</li>
				<li>状态</li>
				<li>操作</li>
			</div>
			<div class="xinxi">
				<li style="text-align: left; text-indent: 20px; border-left: none;">92939293923</li>
				<li>北京市通州区 <span>1182329399</span></li>
				<li>等待卖家确认订单</li>
				<li style="color: #006CFF; cursor: pointer;">查看订单详情</li>
			</div>
		</div>-->
	
</div>
</div>
</div>