<div class="c-jh">
	<div class="c-k">
		<div class="hea clearfloat">
			<h4>我的投标信息</h4>
			<span style="color: #a0a0a1;">您已成功发布<ts>0</ts>条采购计划</span>
		</div>
		<div class="fbcg" style="padding-top: 0px; height: auto;">
			<div class="f-rq">
				<span>发布日期：从</span>
				<input def-laydate type="text"  id="start" ng-model="startTime" class="laydate-icon" />
				<k class="k">到</k>
				<input def-laydate type="text"  id="end" ng-model="endTime" class="laydate-icon" />
				<select>
					<option>物资分类</option>
					<option>分类</option>
				</select>
				<select>
					<option>物资分类</option>
					<option>分类</option>
				</select>
				<select>
					<option>物资分类</option>
					<option>分类</option>
				</select>
				<button class="btw">搜素</button>
			</div>
			<div class="f-qb">
				<li>全部<span>(0)</span></li>
				<li class="ac">待投标<span>(0)</span></li>
				<li>待开标<span>(0)</span></li>
				<li>中标<span>(0)</span></li>
				<li>未中标<span>(0)</span></li>
				<li>待发货<span>(0)</span></li>
			</div>
			<!--外壳-->
			<div class="f-sp">
				<div class="f-spf">
					<span class="f-y9">商品分类</span>
					<span class="f-y10">商品信息</span>
					<span class="f-y9">单位</span>
					<span class="f-y9">数量</span>
					<span class="f-y9">采购类型</span>
					<span class="f-y9">订单状态</span>
					<span class="f-y9">报价单位</span>
					<span class="f-y9">订单金额</span>
					<span class="f-y9">操作</span>
				</div>
				<!--全部投标信息-->
				<div class="z-spf" >
				<div class="f-wq clearfix" >
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div style="width:100%; height: auto; overflow: hidden; position: relative;">
					<div class="f-wp" style="width:885px; float: left;  ">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						
					</div>
					<div class="f-wp" style="width:885px; float: left;">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						
					</div>
					<div class="f-wp" style="width:885px; float: left; ">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						
					</div>
					<div class="kka" style="width:90px; height:100px; position: absolute; top:50%; right:0px; margin-top: -50px; float: right;">
					<div class="f-y11 f-pq">
							<div class="f-rt f-qbl" ui-sref="buyt.bid">查看开标</div>
							<div class="f-rt f-xg" ui-sref="buyt.look">查看报价</div>
						</div>
						</div>
						</div>
				</div>

				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt" ui-sref="buyt.offer">报价</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt" ui-sref="buyt.offer">二次报价</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称商喂是到</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt f-qbl" ui-sref="buyt.bid">查看开标</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">个</div>
						<div class="f-y9">10</div>
						<div class="f-y9">受邀</div>
						<div class="f-y9">已发布</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt f-xg" ui-sref="buyt.look">查看报价</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9"><span>5000.0</span><w class="f-wr">(不含运费)</w></div>
						<div class="f-y11 f-pq">
							<div class="f-rt f-blue" ui-sref="buyt.qrfh">确认发货</div>
							<div class="f-rt f-xg" ui-sref="buyt.ckjh">查看信息</div>
						</div>
					</div>
				</div>
								<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11 f-pq">
							<div class="f-rt f-red">退款</div>
							<div class="f-rt f-xg" ui-sref="buyt.ckjh">查看信息</div>
						</div>
					</div>
				</div>
								<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt f-xg" ui-sref="buyt.ckjh">查看信息</div>
						</div>
					</div>
				</div>
				</div>
							<!--待投标-->
				<div class="z-spf" style="display: none;">
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt">报价</div>
						</div>
					</div>
				</div>

				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt">报价</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt">报价</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt">报价</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt">报价</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt">报价</div>
						</div>
					</div>
				</div>
				</div>
						<!--待开标-->
				<div class="z-spf" style="display: none;">
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11 f-pq">
							<div class="f-rt f-qbl" ui-sref="buyt.bid">查看开标</div>
							<div class="f-rt f-xg" ui-sref="buyt.look">查看报价</div>
						</div>
					</div>
				</div>

				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt" ui-sref="buyt.offer">报价</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt" ui-sref="buyt.offer">二次报价</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称商喂是到</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt f-qbl" ui-sref="buyt.bid">查看开标</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">个</div>
						<div class="f-y9">10</div>
						<div class="f-y9">受邀</div>
						<div class="f-y9">已发布</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt f-xg" ui-sref="buyt.look">查看报价</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11 f-pq">
							<div class="f-rt f-blue" ui-sref="buyt.qrfh">确认发货</div>
							<div class="f-rt f-xg" ui-sref="buyt.ckjh">查看信息</div>
						</div>
					</div>
				</div>
								<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11 f-pq">
							<div class="f-rt f-red">退款</div>
							<div class="f-rt f-xg" ui-sref="buyt.ckjh">查看信息</div>
						</div>
					</div>
				</div>
								<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y11">
							<div class="bwt f-xg" ui-sref="buyt.ckjh">查看信息</div>
						</div>
					</div>
				</div>
				</div>
				<!--待发货-->
				<div class="z-spf" style="display: none;">
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9"><span>5000.0</span><w class="f-wr">(不含运费)</w></div>
						<div class="f-y11 f-pq">
							<div class="f-rt f-blue" ui-sref="buyt.qrfh">确认发货</div>
							<div class="f-rt f-xg" ui-sref="buyt.ckjh">查看信息</div>
						</div>
					</div>
				</div>

				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9"><span>5000.0</span><w class="f-wr">(不含运费)</w></div>
						<div class="f-y11 f-pq">
							<div class="f-rt f-blue" ui-sref="buyt.qrfh">确认发货</div>
							<div class="f-rt f-xg" ui-sref="buyt.ckjh">查看信息</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9"><span>5000.0</span><w class="f-wr">(不含运费)</w></div>
						<div class="f-y11 f-pq">
							<div class="f-rt f-blue" ui-sref="buyt.qrfh">确认发货</div>
							<div class="f-rt f-xg" ui-sref="buyt.ckjh">查看信息</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称商喂是到</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9"><span>5000.0</span><w class="f-wr">(不含运费)</w></div>
						<div class="f-y11 f-pq">
							<div class="f-rt f-blue" ui-sref="buyt.qrfh">确认发货</div>
							<div class="f-rt f-xg" ui-sref="buyt.ckjh">查看信息</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">个</div>
						<div class="f-y9">10</div>
						<div class="f-y9">受邀</div>
						<div class="f-y9">已发布</div>
						<div class="f-y9">单位</div>
						<div class="f-y9"><span>5000.0</span><w class="f-wr">(不含运费)</w></div>
						<div class="f-y11 f-pq">
							<div class="f-rt f-blue" ui-sref="buyt.qrfh">确认发货</div>
							<div class="f-rt f-xg" ui-sref="buyt.ckjh">查看信息</div>
						</div>
					</div>
				</div>
				<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9"><span>5000.0</span><w class="f-wr">(不含运费)</w></div>
						<div class="f-y11 f-pq">
							<div class="f-rt f-blue" ui-sref="buyt.qrfh">确认发货</div>
							<div class="f-rt f-xg" ui-sref="buyt.ckjh">查看信息</div>
						</div>
					</div>
				</div>
								<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9"><span>5000.0</span><w class="f-wr">(不含运费)</w></div>
						<div class="f-y11 f-pq">
							<div class="f-rt f-blue" ui-sref="buyt.qrfh">确认发货</div>
							<div class="f-rt f-xg" ui-sref="buyt.ckjh">查看信息</div>
						</div>
					</div>
				</div>
								<div class="f-wq">
					<div class="f-w">
						<span>单号：<lp>100002323</lp></span>
						<span>发布日期：<lp>2017-1-30</lp></span>
						<span>招标单位：<lp>皮皮虾建设有限公司</lp></span>
						<span>联系人：<lp>皮皮虾</lp></span>
						<span>电话：<lp>1823371289</lp></span>
					</div>
					<div class="f-wp">
						<div class="f-y9">商品分类</div>
						<div class="f-y10">
							<div class="f-img"></div>
							<div class="f-wz">
								<span>商品名称商品名称</span>
								<samp>型号</samp>
							</div>
						</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
						<div class="f-y9">单位</div>
					<div class="f-y9"><span>5000.0</span><w class="f-wr">(不含运费)</w></div>
						<div class="f-y11 f-pq">
							<div class="f-rt f-blue" ui-sref="buyt.qrfh">确认发货</div>
							<div class="f-rt f-xg" ui-sref="buyt.ckjh">查看信息</div>
						</div>
					</div>
				</div>
				</div>
				<div class="f-d">
					<span>显示第<iw>1</iw>页，共<w>36</w>条记录</span>
					<div class="f-r">
						<div class="f-sy">上一页</div>
						<div class="f-ui">
							<li>1</li>
							<li>2</li>
							<span>...</span>
							<li>6</li>
						</div>
						<input type="text" />
						<div class="f-xy">下一页</div>
					</div>
				</div>

			</div>
			<!--全部-->
			
		</div>
	</div>
</div>