<div class="c-jh" >
	<div class="c-k">
		<div class="hea clearfloat">
			<h4>修改采购计划</h4>
			<span>查看我的采购信息>></span>
		</div>
		<div class="c-qw">
			<div class="c-wr">
				<span>日期:</span>
				<f>2017-5-16</f>
			</div>
			<div class="c-wr">
				<span>采购产品:</span>
				<div class="ysa">
					<select>
						<option>分类</option>
					</select>
					<select>
						<option>分类</option>
					</select>
					<select style="width:170px">
						<option>产品名称</option>
					</select>
					<select>
						<option>规格</option>
					</select>
					<select>
						<option>数量</option>
					</select>
					<select>
						<option>单位</option>
					</select>
					<div class="c-yq">+</div>
				</div>
			</div>
			<div class="c-wr">
				<span>采购产品:</span>
				<div class="ysa">
					<select>
						<option>分类</option>
					</select>
					<select>
						<option>分类</option>
						<option>分类</option>
					</select>
					<select style="width:170px">
						<option>产品名称</option>
					</select>
					<select>
						<option>规格</option>
					</select>
					<select>
						<option>数量</option>
					</select>
					<select>
						<option>单位</option>
					</select>
					<div class="c-yq">+</div>
				</div>
			</div>
			<div class="c-wr">
				<span></span>
				<div class="ysa">
					<div class="wer"></div>
					<div class="wer"></div>
				</div>
			</div>
			<div class="c-wr2">
				<span>报价截止日期:</span>
				<div class="ysa hs">

					<input def-laydate type="text" id="start" ng-model="startTime"   class="laydate-icon hs" />
					<input type="text" class="tw" />
				</div>
			</div>
			<div class="c-wr2">
				<span>到货日期:</span>
				<div class="ysa hs">
					<input def-laydate type="text"   id="end" ng-model="endTime" class="laydate-icon hs" />
					<input type="text" class="tw hs" />
				</div>
			</div>
			<div class="c-wr2">
				<span>总金额:</span>
				<div class="ysa hs">
					<input type="text" class="hs" />
				</div>
			</div>
			<div class="c-wr2">
				<span>送货地址:</span>
				<div class="ysa">
					<input type="text" class="hs" value="请填写收获地址" />
				</div>
			</div>
			<div class="c-wr2">
				<span>运输方式:</span>
				<div class="ysa hs">
					<input type="text" class="hs" value="送达" />
				</div>
			</div>
			<div class="c-wr2 gd">
				<span>其它要求:</span>
				<div class="ysa hs">
					<div class="tex">
						<textarea>儿说热热热</textarea>
					</div>
				</div>
			</div>
			<div class="c-wr2">
				<span>备注:</span>
				<div class="ysa">
					<div class="tex">
						<input type="text" />
					</div>
				</div>
			</div>
			<div class="c-wr2 gd">
				<span>邀请供应商:</span>
				<div class="ysa">
					<div class="tex">
						<input type="text" class="yqs" />
						<button class="bwe">添加</button>
					</div>
				</div>
			</div>
			<div class="c-wr2">
				<span></span>
				<div class="ysa">
					<div class="tex">
						<button class="qwd gta">同鑫建投网络科技有限公司</button>
						<button class="qwd gtj">同鑫建投网络科技有限公司<span>x</span></button>
						<button class="qwd gtj">同鑫建投网络科技有限公司</button>
					</div>
				</div>
			</div>
			<div class="c-wr2 gd" style="padding-bottom: 40px;">
				<span></span>
				<div class="ysa">
					<div class="tex">
						<button class="qww" ui-sref="buyt.fbcg">发布</button>
						<button class="qww gtj">保存草稿</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>