@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?evil1d');
  src:  url('fonts/icomoon.eot?evil1d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?evil1d') format('truetype'),
    url('fonts/icomoon.woff?evil1d') format('woff'),
    url('fonts/icomoon.svg?evil1d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dimian:before {
  content: "\e900";
}
.icon-fangshui:before {
  content: "\e901";
}
.icon-dianli:before {
  content: "\e902";
}
.icon-guanchai:before {
  content: "\e903";
}
.icon-xiaofang:before {
  content: "\e904";
}
.icon-kongtiao:before {
  content: "\e905";
}
.icon-chufang:before {
  content: "\e906";
}
.icon-shihua:before {
  content: "\e907";
}
.icon-tiyu:before {
  content: "\e908";
}
.icon-yuanling:before {
  content: "\e909";
}
.icon-jixie:before {
  content: "\e90a";
}
.icon-qita:before {
  content: "\e90b";
}
.icon-jingshu:before {
  content: "\e90c";
}
.icon-shichai:before {
  content: "\e90d";
}
.icon-mengchuang:before {
  content: "\e90e";
}
