/*全局样式*/
*{
	margin: 0;
	padding:0;
}
body{
	font-size:14px;
	font-family: "微软雅黑";
}
ul,li{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #FFFFFF;
	
}
.logo{
	display: inline-block;
	float:left;
	top:-20px;
	
}
.icon-xiala{
	font-weight:normal;
	margin: 20px;
	font-size:5px;
	position: relative;
	top:-6px;
	display: inline-block;
	transform:rotate(180deg);
}
.clear{
	clear:both;
}
.buysu{
	width:100%;
	height: auto;
	background: #fff;
}
/*流程图*/
.header-one{
	height: 128px;
	overflow: hidden;
}
#bb{
	position: relative;
	top:50px;
	left:20px;
	
}
h4>a{
	height: 100%;
}
.lct{
	width:720px;
	border-radius: 6px;
	height: 6px;
	background:#bebebe;
	margin-right: 60px;
	
}
.lct>li{
	width: 120px;
	height: 6px;
	border-radius: 6px;
	float:left;
	position:relative;
	
	
}

.lct>li>span{
	display: inline-block;
	width:20px;
	height:20px;
	border-radius: 50%;;
	position: absolute;
	left: 40%;
	top: -156%;
	border:1px solid #bebebe;
	text-align: center;
	color: #fff;
	background:#bebebe;
}
.bla{
	background: #bedaff;
}
.lct .bla>span{
	border:1px solid  #bedaff;
	background: #bedaff;
}
.bsl{
	background: #006cff;
	border:1px solid #006cff;
}
.lct>.bsl>span{
	border:1px solid #006cff;
	background: #006cff;
	width: 30px;
	height: 30px;
	line-height: 28px;
	top:-15px;
	
}
.lct-x{
	margin-right: 60px;
	
}
.lct-x>li{
	width: 120px;
	float:left;
	color:#bebebe;
	font-size:14px;
	text-align: center;
}
.lct-x .lct-x-1{
	color: #006cff;
}
.lct-x .lct-x-2{
	color:#BEDAFF;
	}
.zhifu{
	position:relative;
}
#zhifuff{
	position: absolute;
	right: 10px;
	top: 18px;
}
/*下面*/
/*订单状态*/
.ddzt1{
	
	height: 190px;
	box-sizing: border-box;
	padding-top:10px;
	padding-left: 20px;
}
.ddzt1>ul:nth-child(1){
	font-size:14px;
	color:#000000;
	margin-right: 22px;
	position: relative;
	top:3px;
}

.ddzt1>ul:nth-child(1)>li:nth-child(2){
	margin-bottom: 28px;
}
.ddzt1>ul:nth-child(2){
	font-size: 14px;
	color: #666666;
}
.ddzt1>ul:nth-child(2)>li{
	margin-bottom: 25px;
	line-height: 20x;
	position: relative;
	top:5px;
	
}
.ddzt1>ul:nth-child(2) span{
	color:#FF0000;
}

.ddzt1>ul:first-child>li:first-child{
	margin-bottom: 72px;
}
.ddzt1>ul{
	float:left;
	
}
/*第一个*/
#mj-1{
	margin-bottom: 0;
	height: 312px;
	
}
#mj-1 b{
	line-height: 16px;
}
.mj-message{
	width:100%;
	/*min-height:500px ;*/
	border:1px solid #EBEBEB;
	border-bottom:none;
	margin-bottom:30px;
}
.message{
	width: 100%;
	background: #F9F9F9;
	height: 60px;
	border-bottom:1px solid #EBEBEB;
}
.message>b{
	display: inline-block;
	font-size: 18px;
	margin-top: 20px;
	margin-left: 30px;
	font-weight: 400;
	color: #000000;
}
.change1 li{
	margin-top: 20px;
	box-sizing: border-box;
	margin-left: 20px;
}
.change1 span{
	display: inline-block;
	width:20px;
	height:20px;
	border-radius: 50%;
	border: 1px solid #EBEBEB;
	vertical-align:bottom;
}
.change1  .sy1{
	background: #6541ff;
	border: 1px solid #6541ff;
}

/*表单*/
#last-name{
	width:200px;
}
#form1{
	position: relative;
}
#form1 label{
	font-weight: 200;
	display: inline-block;
	position: relative;
	top: 21px;
    left: 22px;
    color: #666666;

}
#form1 input{
	width: 380px;
	height: 40px;
	box-sizing: border-box;
	padding-left: 10px;
	margin-top: 20px;
	outline: none;
}
#form1 #last-check{
	width: 14px;
	height: 14px;
	position: relative;
	padding-left:0px;
	margin-top:0px;
	top: 2px;
	left: -5px;
	background: #FFFFFF;
}
#shuo1{
	width: 100%;
	position: relative;
	left:-10px;
	top:-22px;
	
}
.queren{
	border: none;
	width:160px;
	height:40px;
	border-radius: 0;
	background:#006CFF;
	color:#FFFFFF;
	font-size: 14px;
	text-align: center;
	line-height: 25px;
}
.yanzm{
	width: 200px;
	height: 80px;
	border:1px solid #EBEBEB;
	position: relative;
	left: 230px;
	top: 13px;
}
.yanzm a{
	font-size: 14px;
	color: #666666;
	position: absolute;
	top: 40%;
	left: 231px;
	width: 100px;
}
#form1 #dxyz1{
	width: 200px;
	margin-right: 18px;
}
#dingdan1>ul{
	border-left: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
	
	
	
}
#dingdan1 ul:first-child{
	border-left:none;
	
	
	
	
}
#dingdan1>ul>li:first-child{
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #F9F9F9;
	border-bottom: 1px solid #EBEBEB;
	
}
#dingdan1>ul>li:nth-child(2){
	height: 160px;
	box-sizing: border-box;
	padding-top: 20px;
	
	
}
#dingdan1>ul>li:nth-child(2)>dl{
	box-sizing: border-box;
	
	padding-left: 10px;
	
	
	
}
#dingdan1>ul>li:nth-child(2)>dl>dt{
	height: 120px;
	width: 120px;
	border: 1px solid #EBEBEB;
	position: relative;
	
	
}
#dingdan1>ul>li:nth-child(2)>dl>dd{
	float:left;
	width: 176px;
	font-size:14px;
	color:#000000;
	margin-left: 10px;

}
/*订单信息的表单*/
.ddbh1{
	border-bottom: 1px solid #EBEBEB;
	box-sizing: border-box;
}
.ddbh1>span{
	color:#666666px;
	font-size: 14px;
	
}
.ddbh1>span>b{
	font-weight: 100;
	height: 50px;
	
}
#dingdan2{
	margin-right: 350px;
}
#dingdan2~span{
	margin-left: 70px;
	color:#666666;
}

/*第二个*/
#mj-2{
	margin-top: 0;
	border-top:none;
	height: 360px;
	border: 1px solid #EBEBEB;
	margin-bottom: 0;
}
#mj-2 b{
	line-height:5px;
}
.buy-sp{
	width:100%;
	height: 200px;
	background: red;
}
/*第三个*/
#mj-3{
	margin-top: 0;
	border-top:none;
	height: 360px;
	border: 1px solid #EBEBEB;
	margin-bottom: 0;
}
/*文本域*/
#wby{

　　color:#EBEBEB;

　
　　}
}
